/* ==========================================================================
   Background colours
   ========================================================================== */

/* Dark background */

.dark-background {
  color: $white;
  background-color: $uom-footer;

  a {
    color: $warning-color;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: inherit;
    }

    &.button {
      color: $white;
      text-decoration: none;
    }

    &.button.warning {
      text-decoration: none;
    }
  }

  h2,
  h3,
  h4,
  .h4,
  p.h2,
  p.h3,
  p.h4,
  p.h5 {
    color: $warning-color;
  }

  h2 small,
  h3 small,
  h4 small,
  .h4 small,
  p.h4 small {
    color: $white;
  }

  .metadata-value {
    color: #b7b7b7;
  }

  button a:hover,
  h2.button a,
  h2.button a:hover {
    text-decoration: none;
  }

  .learn-more {
    .button a,
    h2.button a {
      color: $black;
    }

    h2.hollow.button a,
    a.hollow.button.warning {
      color: $warning-color;
    }

    a.hollow.button.warning:hover {
      color: $black;
      text-decoration: none;
    }
  }

  .has-tip {
    color: #fc3;
    font-weight: unset;
    border-bottom: rem-calc(1) dotted #ededed;
  }
}

/* White background */

.white-background {
  .asset-hero h1,
  .image-banner .overlay-container > h1 {
    max-width: rem-calc(400);
    padding: 0.5rem;
    color: $black;
    background: rgba($white, 0.8);

    @include breakpoint(600) {
      font-size: 2 * $global-font-size;
    }

    @include breakpoint(medium) {
      max-width: rem-calc(500);
    }

    @include breakpoint(large) {
      padding: $global-padding;
      font-size: 2.5 * $global-font-size;
    }

    @include breakpoint(xlarge) {
      max-width: rem-calc(600);
    }
  }

  .image-banner .overlay-container > p {
    color: $white;
    background-color: rgba($uom-footer, 0.95);
  }
}

/* Grey background */

.gray-background {
  background: $light-gray;
}