/*Full Width CSS Rules*/
  .full-width {    
  left: 50%;
  position: relative;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
}

.full-width-js {
  width: calc(100vw - var(--scrollbar-width));
  margin-left: calc(((100vw - var(--scrollbar-width)) * -0.5) + 50%)!important;
  }

/*Full Width CSS Alternative*/
.full-width-hero {
  width: calc(100% + (2 * $global-padding)); // 100% width and the total padding values
  margin-left: -1 * $global-padding; // Negative margins to negate the padding values
  margin-right: -1 * $global-padding;
}

.full-width-hero img {
width: 100%; // Ensure your hero image takes up the full width.
}

// Use a breakpoint to style when the browser exceeds the `#wrap` container's maximum width.
@media screen and (min-width: 1140px) { 
.full-width-hero {
  margin-left: calc((-100vw / 2) + ($global-width / 2)); // The calculation for full width incorporating the parent container's maximum width.
  margin-right: calc((-100vw / 2) + ($global-width / 2));
  width: auto;
}
}

/*Coloured backgrounds*/
.dark-background {
  background-color: $uom-footer;
  color: $white;
  a {
      color: $warning-color;
  }
  a:hover {
    text-decoration: underline;
  }
  a.button {
      color: $white;
  }
  a:focus {
    color: inherit;
  }
  h2 {
    color: $warning-color;
  }
  p.h2 {
    color: $warning-color;
  }
  h2 small {
      color: $white;
  }
  p.h3 {
    color: $warning-color;
  }
  h3 {
    color: $warning-color;
  }
  h3 small {
      color: $white;
  }
  h4 {
    color: $warning-color;
  }
  p.h4 {
    color: $warning-color;
  }
  h4 small {
      color: $white;
  }
  p.h4 small {
    color: $white;
  }
  p.h5 {
    color: $warning-color;
  }
  .learn-more .button a {
    color: $black;
  }
  .learn-more h2.button a {
    color: $black;
  }
  .learn-more h2.hollow.button a {
    color: $warning-color;
  }
  .learn-more a.hollow.button.warning {
    color: $warning-color;
  }
  .learn-more a.hollow.button.warning:hover {
    color: $black;
    text-decoration: none;
  }
}

/*Add White Background rules*/ 
.white-background .asset-hero h1,
.white-background .image-banner .overlay-container > h1 {
  padding: 0.5rem;
  background: rgba($white, .8);
  color: #000;
  max-width: rem-calc(400);
  @include breakpoint(600) {
    font-size: 2 * $global-font-size;
  }
  @include breakpoint(medium) {
    max-width: rem-calc(500);
  }
  @include breakpoint(large) {
    padding: $global-padding;
    font-size: 2.5 * $global-font-size;
  }
  @include breakpoint(xlarge) {
    max-width: rem-calc(600);
  }
}

.white-background .image-banner .overlay-container > p {
  color: $white;
  background-color: rgba($uom-footer, .95);
}

/*Flex-grow*/
.flex-grow {
  flex-grow: 1;
}