/* ==========================================================================
   OneTrust Cookie Banner
   ========================================================================== */

iframe.optanon-category-C0004[data-src] {
  display: none;
}

.ot-warning {
  padding: $global-padding 0;
  background: #efefef;

  svg {
    height: rem-calc(300);
    fill: #cdcdcd;

    @include breakpoint(large) {
      height: rem-calc(400);
    }
  }

  a,
  a:hover {
    color: $white;
  }
}

.dark-background {
  .ot-warning p {
    color: $black;
  }
}