/*Bold fonts*/
.font-bold {
  font-weight: 600;
}

/*Large fonts*/ 
.font-large {
  font-size: $global-font-size * 1.2;
}

/*White Text*/ 
.white-text p,
.white-text h1,
.white-text h2,
.white-text h3 {
  color: $white;
}

.italic-font {
  font-style: italic;
}