.scrollbox-thrower {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.scrollbox-thrower aside.coverleft, .scrollbox-thrower aside.coverright
 {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.scrollbox-thrower aside.covermain {
    width: 100%;
    height: inherit;
    z-index: 1000;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
}

.scrollbox-thrower aside.covermain > h1 {
    font-size: 28px;
    font-weight: 600;
}

.scrollbox-thrower aside.covermain > section {
    height: 220px;
    position: relative;
    top: 0;
    left: 0;
}

.scrollbox-thrower aside.covermain ul {
    position: relative;
    width: calc(100% + 20px);
    box-sizing: border-box;
    height: 180px;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    white-space: nowrap;
    font-size: 0;
    transition: left 0.45s ease-in-out;
}

.scrollbox-thrower aside.covermain ul li {
    opacity: 1;
    transition: opacity 200ms ease-in-out, z-index 200ms ease-in-out;
    transition-delay: 300ms;
}

.scrollbox-thrower aside.covermain ul li {
    font-size: 16px;
    display: inline-grid
;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 180px;
    box-sizing: border-box;
    padding: 0 10px;
    opacity: 1;
    position: relative;
}

.scrollbox-thrower aside.covermain ul li:nth-child(1) a {
    transition-delay: 50ms;
}

.scrollbox-thrower aside.covermain ul li a {
    background-color: cyan;
    height: 180px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 750ms ease-in-out;
}
a:visited {
    color: #8a00bc;
    text-decoration: none;
    border-bottom: 1px dotted #ddbfdc;
}

.scrollbox-thrower aside.covermain ul li a section.inner2 {
    display: block;
    width: 100%;
    height: 180px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: top 200ms ease-in-out, left 200ms ease-in-out, width 200ms ease-in-out, height 200ms ease-in-out;
    transition-delay: 300ms;
}

.scrollbox-thrower aside.covermain ul li a img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: height 200ms ease-in-out;
    transition-delay: 300ms;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.scrollbox-thrower aside.covermain ul li a div {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(66, 66, 66, 0);
    color: white;
    transition: height 200ms ease-in-out, background-color 200ms ease-in-out;
    transition-delay: 300ms;
}

.scrollbox-thrower aside.covermain ul li a div h4 {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    background-color: #424242;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    height: 30px;
}

.scrollbox-thrower aside.covermain ul li a div p {
    padding: 0 10px 5px 10px;
    opacity: 0;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out;
    transition-delay: 300ms;
    box-sizing: border-box;
    width: calc(100% + 40px);
    overflow: visible;
    white-space: wrap;
    font-size: 13px;
    line-height: 1.2em;
}

.scrollbox-thrower aside.covermain > section nav {
    z-index: 9999;
    position: absolute;
    top: 69px;
    right: 0;
    display: grid
;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
}

.scrollbox-thrower aside.covermain > section nav button[disabled] {
    opacity: 0.4;
}

.scrollbox-thrower aside.covermain > section nav button {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 28px;
    outline: none;
    border: none;
    background-color: silver;
    color: white;
    width: 42px;
    height: 42px;
}

.scrollbox-thrower aside.covermain a.viewall {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1rem;
}

.scrollbox-thrower aside.coverleft, .scrollbox-thrower aside.coverright {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.scrollbox-thrower button {
    cursor: default; /* default cursor for all buttons */
  }
  
  .scrollbox-thrower button:enabled {
    cursor: pointer; /* pointer only for buttons that are enabled */
  }