/*Set dimensions of UoM common header*/

header .header-horizontal {
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/*Set size of University logo*/

.university-logo {
    margin: 12px 24px;
}

.university-logo img {
    width: 169px;
    height: 70px;
}


/*Set 'Manchester Digital Exhibitions text*/
.site-heading {
    color: #6B2C91;
    text-decoration: none;
    display: flex;
    flex-grow: 3;
}

.site-heading p {
    color: #6B2C91;
    margin-bottom: 0;
}