@import "util/util";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$foundation-palette: (
  primary: #660099, 
  secondary: #2c0142, 
  success: #3adb76, 
  warning: #FFCC33, 
  alert: #c91b00
);
$global-font-size: 18px;
$body-font-family: 'Open Sans', sans-serif;