//  Omeka Styles
//  -----------------------------
//
//  Table of Contents:
//  #. Global Styles
//  #. Header
//  #. Resource Browse
//  #. Advanced Search
//  #. Page
//  #. Global Styles
//  #. Blocks
//  #. -- Original Omeka S Blocks
//  #. -- BlockPlus Blocks
//  #. -- Agile Theme Tools Blocks 
// ------------------
[type="submit"],
[type="button"] {
    @extend .button;
}

.input-group .input-group,
.input-group .button-group,
.input-group select,
.input-group [type="text"] {
    margin-bottom: 0;
}

.field {
    margin-bottom: 2 * $global-margin;
}

select {
    width: auto;
    background: #fff url("../../../../application/asset/img/select-arrow.svg") no-repeat;
    background-position: right 6px center;
    background-size: 8px;
    border: 1px solid $light-gray;
    margin: 0;
    padding: (.25 * $global-padding) $global-padding (.25 * $global-padding) (.25 * $global-padding) !important;
    border-radius: 3px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

[type="text"]:not(:only-child) {
    width: auto;
}

#content {
    padding: (2 * $global-padding) $global-padding;
    @include xy-grid-container;
    @include breakpoint(small down) {
        padding: 0;
        margin: $global-margin;
    }
}

body:not(.browse) #content {
    @include xy-grid-container;
    padding: (2 * $global-padding) 0;
    @include breakpoint(small down) {
        padding: 0;
        /*margin: $global-margin;*/
    }
}

.break {
    width: 100%;
    margin: (2 * $global-margin) 0;
    clear: both;
}

.break.opaque {
    border-top: 1px solid $light-gray;
}


/* Styles for vertical menu layout */

body.vertical-menu {
    @include breakpoint(medium up) {
        background-color: $primary-color;
    }
}

body.vertical-menu .off-canvas-content {
    @include xy-grid();
}

body.vertical-menu #content {
    width: 100%;
    @include breakpoint(medium up) {
        background-color: $white;
        @include xy-cell(auto,
        $gutters: 0);
        max-width: none;
        min-height: 90vh;
        margin: 0;
    }
}

body.vertical-menu #user-bar {
    width: 100%;
}

body.vertical-menu #user-bar~#content {
    @include breakpoint(medium up) {
        min-height: calc(90vh - 38px);
    }
}

// #. Header
// ------------------
#skipnav {
    position: fixed;
    top: $global-margin;
    left: 50%;
    border: 1px solid $light-gray;
    transform: translateX(-50%);
    z-index: -5;
    padding: (.25 * $global-padding);
    background-color: #fff;
    opacity: 0;
    &:focus {
        z-index: 1000;
        opacity: 1;
    }
}

.top-bar a {
    color: $white;
    }

.top-bar form {
    margin-bottom: 0;
}

.site-title img {
    max-height: 2rem;
    width: auto;
}

.site-title h1 {
    @extend h4;
}

.site-title h1 {
    margin-bottom: 0;
    font-size: $global-font-size;
    margin-right: 1.5 * $global-margin;
    font-weight: 600;
    color: $white;
    
}

.site-title h1 {
    @include breakpoint(medium) {
        font-size: 1.2 * $global-font-size;
    }
}

.site-title img {
    margin: $global-margin 0;
}

/*Transition added by JMc*/
ul.dropdown.menu li {
    transition: background-color .25s ease-out,color .25s ease-out;
}

ul.dropdown.menu li:hover {
    background-color: $secondary-color;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after, 
.toc-block>ul.dropdown>li.is-dropdown-submenu-parent>a::after, 
.toc-block ul ul.dropdown>li.is-dropdown-submenu-parent>a::after {
    border-color: $white transparent transparent;
}

.dropdown.menu>li.is-active>a, .toc-block>ul.dropdown>li.is-active>a, .toc-block ul ul.dropdown>li.is-active>a {
    color: $white;
}

a.nav-header:visited {
    background: $secondary-color;
}
/*End JMc edits*/


.dropdown.menu>li.is-dropdown-submenu-parent.active>a:after {
    border-color: #fff transparent transparent;
    margin-right: .5 * $global-margin;
}

.dropdown.menu>li.is-dropdown-submenu-parent.active>a {
    padding-right: 2 * $global-padding;
}

.dropdown.menu>li.is-dropdown-submenu-parent.active:hover>a {
    background-color: $primary-color;
    color: #fff;
}

/*Added by JMc*/
.dropdown.menu>li.opens-left>.is-dropdown-submenu, 
.toc-block>ul.dropdown>li.opens-left>.is-dropdown-submenu, 
.toc-block ul ul.dropdown>li.opens-left>.is-dropdown-submenu {
    z-index: 999999;
}

.top-bar-right .search {
    margin-left: $global-margin;
}

#offCanvas .search {
    margin: $global-margin;
}

header .top-bar-right,
header .top-bar-left {
    display: flex;
    align-items: center;
}

.menu a.dropdown-toggle {
    display: flex;
    justify-content: space-between;
}

.vertical-menu .dropdown-toggle {
    width: 100%;
}

.submenu-toggle:after {
    border-color: #fff transparent transparent;
}

header .top-bar {
    @include breakpoint(small down) {
        padding: 0;
    }
}

.title-bar {
    display: inline-block;
    background-color: transparent;
    padding: 0;
    button {
        margin: 0 $global-margin 0 0;
        background-color: transparent;
        color: $dark-gray;
    }
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    &.contained {
        @include xy-grid-container;
    }
}

.banner img {
    width: 100%;
}

body.vertical-menu header {
    background-color: $primary-color;
    width: 100%;
    @include breakpoint(large up) {
        padding: $global-padding;
        @include xy-cell(2,
        $gutters: 0);
    }
    a {
        color: $white;
    }
    .title-bar {
        display: flex;
    }
    .title-bar button {
        color: $white;
    }
    .site-title h1 {
        font-size: 1.3 * $global-font-size;
        font-weight: 600;
    }
    .site-title img {
        max-height: none;
        max-width: 100%;
    }
    .vertical.menu {
        margin: $global-margin 0;
    }
    .vertical.menu li {
        margin: 0;
    }
    .vertical.menu li a {
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown .vertical.menu {
        margin: 0 0 0 $global-margin;
    }
}

body.vertical-menu .vertical.menu.nested .active>a {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -1 * $global-padding;
        width: $global-padding;
        bottom: 0;
        background-color: $primary-color;
    }
}

body.vertical-menu header .desktop {
    @include breakpoint(medium down) {
        display: none;
    }
}

/*Set size of University logo*/
.university-logo {
    margin: rem-calc(12) rem-calc(24);
}

.university-logo img {
    width: rem-calc(169);
    height: rem-calc(70);
}

/*Set 'Manchester Digital Exhibitions text*/
.site-heading {
    color: $primary-color;
    text-decoration: none;
    display: flex;
    flex-grow: 3;
}

.site-heading p {
    color: $primary-color;
    margin-bottom: 0;
}

/*Language Selector*/
#lang {
    order: 2;
    margin: 0 1 0 1em;
}

ul.language-switcher.locale-code {
    padding-inline-start: 0;
}

ul.language-switcher.locale-code li span.active {
    color: #343536;
    text-decoration: underline;
    font-weight: 600;
}

ul.language-switcher.locale-code li a {
    color: #343536;
    text-decoration: none;
    font-weight: 400;
}
/*End Language Selector*/

// #. Footer
// ------------------
footer {
    @include xy-grid-container;
    padding: (2 * $global-padding) 0;
    @include breakpoint(small down) {
        margin: 0 $global-margin;
    }
}

//Revised by JMc to allow for UoM footer
body.vertical-menu footer {
    width: 100%;
    padding: $global-padding;
}

.footerContainer { background: $uom-footer; 
    padding: 0; 
    margin: 0; 
    max-width: unset;
}

.footerContainer h3 {
    color: $white;
    @include breakpoint(medium down) {
    font-size: rem-calc(16);
    }
}


.footerLogos { 
    float: left; 
    width: rem-calc(280); 
}

.footerLogos img { 
    display: inline; 
    margin: 0 rem-calc(20) rem-calc(10) 0; 
    width: auto!important; }

.footerLogos p { color: $white;	
    line-height: rem-calc(1.3em);	
    font-size: rem-calc(1.1em); 
}

.inlineList {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
        
.inlineList li {
    display: inline-block;
    margin: 0;
    padding: rem-calc(5);
    font-size: rem-calc(14px);
    line-height: rem-calc(2em);
    color: #aaa;
}
        
.lt-ie8 .inlineList li { 
    zoom: 1; 
    display: inline; 
}
        
.inlineList li a {
    display: inline-block;
}
        
.lt-ie8 .inlineList li a { 
    zoom: 1; 
    display: inline; 
}

.footerContainer li a {
    color: #aaa;}

.footer-socialIcons li {
    padding: 0; 
}

.footer-socialIcons li a img {
    padding-right: rem-calc(10); 
    width: auto; 
    vertical-align: inherit; 
}


// #. Resource Browse
// ------------------
.resource.browse #content>h2:first-child {
    @include breakpoint(small down) {
        display: inline-block;
        margin-top: (.25 * $global-margin);
    }
}

.browse-control-mobile {
    display: none;
    @include breakpoint(small down) {
        display: inline-block;
        float: right;
    }
}

.browse-toggle {
    font-size: .875 * $global-font-size;
    padding: (.5 * $global-padding);
    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-left: (.5 * $global-margin);
    }
    &.closed:after {
        content: "\f055";
    }
    &.open:after {
        content: "\f056";
    }
}

.resources,
.browse-controls {
    clear: both;
}

.browse-controls {
    @include xy-grid;
    justify-content: space-between;
    align-items: center;
    margin: 0 (-.5 * $global-margin);
    font-size: .875 * $global-font-size;
    input,
    select,
    button,
    .button {
        font-size: .875 * $global-font-size;
        padding: (.5 * $global-padding);
    }
    .sorting select {
        margin-right: .5 * $global-margin;
    }
    @include breakpoint(small down) {
        margin: 0;
        display: none;
        &.open {
            display: flex;
            align-items: stretch;
        }
        &.closed {
            display: none;
        }
        .sorting,
        .omeka-pagination,
        .advanced-search {
            margin-bottom: $global-margin;
        }
        .advanced-search {
            order: 3;
        }
    }
}

.filter {
    display: flex;
    margin-bottom: $global-margin;
}

.filter-label {
    @extend .label;
}

.filter-value {
    @extend .label;
}

.filter-value {
    background: $light-gray;
    color: #000;
}

.resource-list,
.resource-grid {
    list-style-type: none;
    margin: (2 * $global-margin) 0;
    @include breakpoint(small down) {
        margin: 0;
    }
}

.resource-list {
    border-top: 1px solid $light-gray;
}

.resource-list .resource {
    margin: $global-margin 0;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $global-padding;
}

.resource-list .resource-meta {
    @include xy-cell(12);
}

.resource-list .media-object-section:last-child:not(:nth-child(2)) {
    padding-left: 0;
}

.resource-list .resource-image {
    order: 2;
    text-align: center;
    width: 25%;
    @include breakpoint(medium down) {
        margin: 0;
        width: 50%;
    }
}

.resource-list .resource-image.media-object-section img {
    max-width: 100%;
}

.resource-list .resource-meta:not(:only-child) {
    @include xy-cell(9);
    order: 1;
    @include breakpoint(small down) {
        width: 50%;
    }
}

.resource-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-1 * $global-margin);
}

.resource-grid .resource {
    width: 25%;
    padding: $global-padding;
    @include breakpoint(medium down) {
        width: 50%;
    }
}

.description.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description.fadeout {
    position: relative;
    max-height: 6.5rem;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        top: 4.5rem;
        left: 50%;
        right: 0;
        height: 2.5 * $global-padding;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 60%);
    }
}

.omeka-pagination {
    @include breakpoint(medium) {
        @include xy-cell(4);
    }
}

.omeka-pagination,
.omeka-pagination form {
    display: flex;
    align-items: center;
}

.omeka-pagination .button-group {
    flex-wrap: nowrap;
    flex-grow: 0;
}

.omeka-pagination form,
.omeka-pagination .button-group {
    margin-right: $global-margin;
}

.omeka-pagination input {
    margin: 0 $global-margin 0 0;
}

.omeka-pagination .button,
.omeka-pagination .button-group {
    margin-bottom: 0;
}

.sorting {
    display: flex;
}

.sorting select {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.sorting button {
    margin-bottom: 0;
}

.layout-toggle button {
    margin-bottom: 0;
}

.o-icon-grid:before {
    font-family: "Font Awesome 5 Free";
    content: "\f009";
}

.o-icon-list:before {
    font-family: "Font Awesome 5 Free";
    content: "\f03a";
}

// #. Resource Show
// ------------------
.expand:after,
.collapse:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.expand:after {
    content: "\f0da";
}

.collapse:after {
    content: "\f0d7"
}

.collapsible {
    display: none;
}

.collapse+.collapsible {
    display: block;
    border-left: 3px solid $light-gray;
    padding: (.25 * $global-padding) $global-padding;
    margin: (.5 * $global-margin) 0;
    width: 100%;
}

.resource-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-word;
    h2 {
        margin-right: $global-margin;
    }
}

.resource.show .grid-x {
    padding: (2 * $global-padding) 0;
}

.resource.show #resource-values {
    order: 1;
    @include xy-cell(8);
    margin-left: 0;
    @include breakpoint(medium down) {
        width: 100%;
        margin-right: 0;
    }
}

.resource.show .media-embeds,
.resource.show .media-list {
    order: 2;
    @include xy-cell(4);
    margin-right: 0;
    @include breakpoint(medium down) {
        width: 100%;
        margin-left: 0;
    }
}

.resource.show .media-render>a:only-child {
    @include thumbnail;
    margin-bottom: $global-margin;
}

.resource.show .media-render>* {
    max-width: 100%;
}

.resource.show .values .resource-link img,
#linked-resources img {
    @include thumbnail;
    height: ($paragraph-lineheight * 2rem);
    width: auto;
    min-width: 1px;
    margin: 0 (.5 * $global-margin) 0 0;
}

.resource.show .resource-link {
    display: flex;
    align-items: center;
}

.resource.show #linked-resources .resource-link {
    margin-bottom: 0;
}

.linked-header .omeka-pagination,
.linked-footer .omeka-pagination {
    margin: (.5 * $global-margin) 0;
}

@include breakpoint(medium up) {
    .linked-header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .linked-header .omeka-pagination {
        width: 50%;
        justify-content: flex-end;
        margin: 0;
    }
    .linked-footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .linked-footer .omeka-pagination {
        width: 100%;
        justify-content: flex-start;
        margin: 0;
    }
}

.media-list img {
    @extend .thumbnail;
}

.media-list img {
    margin: 0 $global-margin 0 0;
    height: 5 * $global-padding;
    width: auto;
}

.inline .property {
    display: flex;
    dt {
        @include xy-cell(4);
        text-align: right;
    }
    .values {
        @include xy-cell(8);
    }
}

.value .language {
    @include label;
    background-color: $light-gray;
    margin-right: .5 * $global-margin;
}

.value {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: .5 * $global-margin;
    }
}

.value.resource {
    margin-bottom: $global-margin;
}

.value-content:not(:only-child) {
    margin-right: .25 * $global-margin;
}

#itemfiles.leftgallery {
    /*height: 60vh; Removed as overflowing container*/
    width: 100%;
    margin-bottom: $global-margin;
    img {
        height: 60vh;
    }
}

#itemfiles.topgallery {
    width: 100%;
    margin-bottom: $global-margin;
}

#itemfiles.topgallery .media.resource,
#itemfiles.leftgallery .media.resource {
    height: 0;
    overflow: hidden;
}

#itemfiles .img-responsive {
    opacity: 0;
}

#itemfiles .lg-img-wrap,
#itemfiles .lg-video-object,
#itemfiles .lg-video-poster {
    padding-bottom: 3 * $global-padding;
}

#itemfiles .lg-outer .lg-video-cont .lg-object {
    width: auto !important;
}

.lg-outer[data-lg-slide-type="video"] .lg-download {
    opacity: 1 !important;
    pointer-events: all !important;
}

#itemfiles.leftgallery {
    width: 100%;
    align-self: flex-start;
    @include breakpoint(medium up) {
        width: 70%;
    }
}

#itemfiles.leftgallery~#resource-values {
    width: 100%;
    margin: 0;
    @include breakpoint(medium up) {
        padding-left: $global-padding;
        width: 30%;
    }
}

// #. Advanced search
// ------------------
#advanced-search .input-group {
    @include breakpoint(small down) {
        flex-wrap: wrap;
    }
}

#advanced-search select {
    @include breakpoint(small down) {
        width: 100%;
        margin-bottom: 0;
    }
}

#advanced-search .input-group.value {
    margin-bottom: $global-margin !important;
}

#advanced-search .multi-value .value:only-child .remove-value {
    display: none;
}

#advanced-search .value {
    margin-bottom: $global-margin !important;
}

#advanced-search .query-text {
    margin-right: .25 * $global-margin;
}

#advanced-search [class="field"] {
    @extend .fieldset;
}

#advanced-search .help-text {
    margin-bottom: $global-margin;
}

#advanced-search .remove-value {
    padding-top: 0;
    padding-bottom: 0;
    @include breakpoint(small down) {
        margin-bottom: 0;
    }
}

#advanced-search .value>* {
    margin-bottom: 0;
}

#advanced-search .value>*:not(:last-child) {
    margin-right: 5px;
    margin-left: 0;
}

.field-meta {
    @extend legend;
}

#property-queries select {
    @include breakpoint(small down) {
        margin-bottom: (.5 * $global-margin);
    }
}

// #. Page
// ------------------
.breadcrumbs {
    width: 100%;
}

.page #content {
    @include xy-grid;
}

.blocks {
    @include xy-cell(12);
}

.blocks>h2:first-child {
    margin-bottom: (2 * $global-margin);
}

.wide.sub-menu {
    @include xy-cell(3);
    @include breakpoint(small down) {
        @include xy-cell(12);
        margin-bottom: $global-margin;
    }
}

.wide.sub-menu a {
    @include breakpoint(small down) {
        padding-left: 0;
        padding-right: 0;
    }
}

.wide.sub-menu+.blocks {
    @include xy-cell(9);
    @include breakpoint(small down) {
        @include xy-cell(12);
    }
}

.left {
    float: left;
    margin: 0 $global-margin $global-margin 0;
    max-width: 40%;
    @include breakpoint(small down) {
        max-width: 25%;
    }
}

.right {
    float: right;
    margin: 0 0 $global-margin $global-margin;
    max-width: 40%;
    @include breakpoint(small down) {
        max-width: 25%;
    }
}

.file img {
    max-width: 100%;
    height: auto;
}

.attachments .media-render>h3,
.file h3,
.item-showcase h3 {
    font-size: rem-calc(map-deep-get($header-styles, small, h4, font-size));
    margin: $global-margin 0;
}

.item-showcase {
    text-align: center;
}

.site-page-pagination {
    @include xy-cell;
    margin-top: 1rem;
}

.site-page-pagination>a {
    @extend .button;
}

.site-page-pagination>a {
    margin: 0;
}

.item-with-metadata .resource.show {
    display: flex;
    margin: (2 * $global-margin) 0;
    .media-list {
        order: 1;
        @include xy-cell(3);
        text-align: right;
        .media {
            width: 100%;
            display: block;
        }
        img {
            height: auto;
        }
    }
    dl:not(:only-child) {
        order: 2;
        @include xy-cell(9);
    }
}

.toc-block {
    background-color: $light-gray;
    border-width: 1px 0;
    padding: $global-padding;
    @include breakpoint(small down) {
        width: 100%;
        margin: 0 0 $global-margin;
        position: static;
        float: none;
    }
    &:first-child {
        position: sticky;
        @include xy-cell(3);
        float: left;
        top: $global-margin;
        &~* {
            @include xy-cell(9);
            float: right;
            @include breakpoint(small down) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    &>ul,
    ul ul {
        @extend .menu;
        @extend .vertical;
    }
    ul {
        list-style: none;
    }
    ul ul {
        @extend .nested;
    }
}

.preview-block .preview-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $light-gray;
    align-items: flex-end;
    a {
        margin-bottom: (.5 * $global-margin);
    }
}

.preview-block h4 {
    @extend h5;
}

// -- Search
.results {
    margin-bottom: 2 * $global-margin;
    clear: both;
}

.results ul {
    list-style: none;
    padding-left: 0;
    @include breakpoint(medium up) {
        display: flex;
        flex-wrap: wrap;
    }
}

.results .result-title {
    font-weight: bold;
}

.results>ul {
    margin: 0;
}

.results .result-site,
.results ul ul {
    display: block;
    padding-left: .5 * $global-padding;
}

.results>ul>li {
    margin-bottom: $global-padding;
    @include breakpoint(medium up) {
        width: 50%;
    }
}

.pagination+.results {
    margin: $global-margin 0 0;
    clear: both;
}

.sitewide-search-form {
    display: flex;
    margin-bottom: $global-margin;
    @include breakpoint(medium up) {
        display: none;
    }
    [type="text"],
    [type="submit"] {
        margin: 0;
        padding: (.25 * $global-padding) (.5 * $global-padding);
    }
}

.sitewide-search-form~.results+.pagination {
    margin-top: 0;
}

.sitewide-search-form~.advanced-search {
    display: block;
    @include breakpoint(small down) {
        margin: (-.5 * $global-margin) 0 $global-margin;
    }
}

.sitewide-search-form~h2 {
    margin-bottom: 2 * $global-margin;
    @include breakpoint(medium up) {
        width: 50%;
        float: left;
    }
}

.results>h3 {
    border-bottom: 1px solid $light-gray;
}

.sitewide-search-form~.omeka-pagination {
    margin: (-1 * $global-margin) 0 $global-margin;
    @include breakpoint(medium up) {
        margin: (.5 * $global-margin) 0 $global-margin;
        text-align: right;
        width: 50%;
        float: right;
    }
}

.sitewide-search-form~p {
    clear: both;
}

.index.search .results {
    margin-bottom: 2 * $global-margin;
}

.index.search .results ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    @include breakpoint(medium up) {
        columns: 2;
    }
    li {
        padding: $global-padding 0;
        border-bottom: 1px solid $light-gray;
    }
    &+a {
        display: block;
        margin-top: $global-margin;
    }
}

// -- Modules
[class^="numeric-"],
[class*="numeric-"],
[id^="numeric-"] .inputs,
[id*="numeric-"] .inputs {
    display: flex;
    @include breakpoint(small down) {
        flex-wrap: wrap;
    }
}

[class^="numeric-"] [type="checkbox"],
[class*="numeric-"] [type="checkbox"] {
    margin-bottom: 0;
    width: auto;
}

[class^="numeric-"] label.numeric-toggle-time.button,
[class*="numeric-"] label.numeric-toggle-time.button {
    @extend .button;
}

.inputs label.numeric-toggle-time.button {
    border: 0;
    display: inline-flex;
    @include breakpoint(small down) {
        margin: (.25 * $global-margin) 0 0;
    }
}

@include breakpoint(medium up) {
    .inputs .numeric-time-inputs,
    .inputs .numeric-datetime-inputs {
        margin: 0 0 0 (.25 * $global-margin);
    }
}

@include breakpoint(small down) {
    #advanced-search [type="number"],
    #advanced-search select {
        width: 100%;
        margin: (.25 * $global-margin) 0;
    }
}

.mapping-block {
    width: 100%;
}


/*John McCrory edits*/

/*Full Width CSS Rules*/
.full-width {
    width: calc(100vw - var(--scrollbar-width));
    margin-left: calc(((100vw - var(--scrollbar-width)) * -0.5) + 50%)!important;
    }

    .full-width-css {    
    left: 50%;
    position: relative;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
}

/*Full Width CSS Alternative*/
.full-width-hero {
    width: calc(100% + (2 * $global-padding)); // 100% width and the total padding values
    margin-left: -1 * $global-padding; // Negative margins to negate the padding values
    margin-right: -1 * $global-padding;
}

.full-width-hero img {
  width: 100%; // Ensure your hero image takes up the full width.
}

// Use a breakpoint to style when the browser exceeds the `#wrap` container's maximum width.
@media screen and (min-width: 1140px) { 
  .full-width-hero {
    margin-left: calc((-100vw / 2) + ($global-width / 2)); // The calculation for full width incorporating the parent container's maximum width.
    margin-right: calc((-100vw / 2) + ($global-width / 2));
    width: auto;
  }
}

/*Foundation Settings*/ 
//-----------------------

/*Light Gallery*/
#itemfiles.topgallery {
    padding-bottom: 56.25%;
}

/*Remove download option from LightGallery*/
.lg-outer[data-lg-slide-type=iframe] .lg-download, 
.lg-outer[data-lg-slide-type=video] .lg-download {
    display: none;
}

/*Breadcrumb Navigation*/
/*Remove Nav Breadcrumbs*/
nav.breadcrumbs {
    display: none;
    } 

/*Blocks*/
//-----------------------------

/*Original Omeka S Blocks*/
//-----------------------------

/*Item Showcase*/
.fixed-image-height img {
    height: 100%;
    width: 100%;
    @include breakpoint(medium) {
        height: rem-calc(400px);
        width: 100%;
        object-fit: cover;
    }
    @include breakpoint(large) {
        height: rem-calc(700px);
        width: 100%;
        object-fit: cover;
    }
    @include breakpoint(xxlarge) {
        height: rem-calc(800px);
        width: 100%;
        object-fit: cover;
    }
}

/*Media Embed*/
/*Centre media embed items when option chosen*/
.center.file, .center.assets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}


/*Header*/
.site-heading {
    width: rem-calc(225px);
    margin: 0 rem-calc(12);
}

nav.title-bar {
    order: 0;
    @include breakpoint(526) {
        order: 1;
    }
}

.site-heading {
    order: 1;
    @include breakpoint(526) {
        order: 0;
    }
}


/*Card Styling*/
.card-divider a {
    color: $white;
}

/*Coloured backgrounds*/
.background-colour-primary {
    background-color: $primary-color;
    color: $white;
    a {
        color: $white;
    }
}

.background-colour-secondary {
    background-color: $secondary-color;
    color: $white;
    a {
        color: $white;
    }
}

.background-colour-light-gray {
    background-color: $light-gray;
}

.background-colour-dark-gray {
    background-color: $dark-gray;
    color: $white;
    a {
        color: $white;
    }
}

.background-colour-uom-footer {
    background-color: $uom-footer;
    color: $white;
    a {
        color: $warning-color;
    }
    a.button {
        color: $white;
    }
}

/*BlockPlus Blocks*/
//--------------------------------

/*Hero Image*/ 
.hero-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    
    .hero-image body #content {
    padding-top: 0;
    }
    
    .hero-image h2 {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2 * $global-font-size;
    font-weight: 300;
    padding: 1em;
    @include breakpoint(large) {
        font-size: rem-calc(52px);
    }
    }
            
    /*Hero image sizes*/
    .image-large {
        height: 80vh;
        }
        
        .image-medium {
        height: rem-calc(500px);
        }
        
        .image-small {
        height: rem-calc(300px);
        }

/*Flex-grow*/
.flex-grow {
    flex-grow: 1;
    }

/*Resource with Text block*/
.media-text {
    @include breakpoint(medium) {
        padding: $global-padding;
        }
    &.left {
        order: 0;
    }
    &.right {
        order: 1;
    }
}

.media-text .left,
.media-text .right {
    max-width: unset;
    float: unset;
    margin: unset;
}

.media-text-heading {
    flex-basis: 100%;
    @include breakpoint(medium) {
        padding-left: 1 * $global-padding;
        }
    @include breakpoint(large) {
        padding-left: 1.5 * $global-padding;
        }
}

/*Resource with Text - Image Cover*/
.image-cover .left {
    float: unset;
    margin: unset;
    max-width: unset;
    order: 0;
}

.image-cover .right {
    float: unset;
    margin: unset;
    max-width: unset;
    order: 1;
}

.image-cover-img {
    position: relative;
}

figcaption.orbit-caption.caption p {
    margin-bottom: 0;
    @include breakpoint(large) {
        margin-bottom: $global-margin;
        text-align: right;
    }
}

.image-cover .title-area p,
.image-cover .title-area h3 {
    padding: $global-padding;
}

.captions-center .resource h3,
.captions-center .resource .orbit-caption.caption {
    text-align: center;
}
.captions-left .resource h3,
.captions-left .resource .orbit-caption.caption.caption {
    text-align: left;
}
.captions-right .resource h3,
.captions-right .resource .orbit-caption.caption.caption {
    text-align: right;
}

/*External Content*/ 

.external-content .left.media.file,
.external-content .right.media.file
.external-content .center.media.file {
    max-width: unset;
}

.sketchfab-embed-wrapper iframe {
    @include breakpoint(xlarge) {
        width: calc($grid-container * 0.9)!important;
        height: calc((($grid-container * 0.9) / 16) * 9)!important;
    }
    @include breakpoint(large down) {
        width: 90vw!important;
        height: 67.5vh!important;
        max-height: 80vh!important;
    }
    @include breakpoint(small down) {
        width: 90vw!important;
        height: 50.625vh!important;
    }
}
.link-text-white a {
    color: $white;
}

/*Media Text  Block Styling*/
.media-text .right {
    order: 1;
}
    
    /*Full width 'left' and 'right' images for Resource with Text on mobiles*/
    @media screen and (max-width: 899px) {
    .media-text .left,
    .media-text .right {
    float: unset;
    margin: 0;
    max-width: 100%;
    }
    
    /*Revise order for 'right' items*/
    .media-text .right {
    order: 0;
    }
}

/*Timeline Block*/ 

.tl-timeline h1, 
.tl-timeline h2, 
.tl-timeline h3, 
.tl-timeline h4, 
.tl-timeline h5, 
.tl-timeline h6 {
    font-family: $body-font-family!important;
}

/*Showcase*/ 
.showcase .entries {
    flex-direction: column;
    @include breakpoint(medium) {
        .showcase .entries {
            flex-direction: row;
        }
}

.showcase .showcase-three .entry:not(:only-child) {
    width: 100%;
}

.showcase .showcase-three .entry:not(:only-child) img {
    max-height: 35rem!important;
}

/*Three items in Item Showcase*/
.entry.entry-item h3 a {
    color: $white;
}

.showcase-three {
    background: $uom-footer;
}

.showcase .showcase-three .entry:not(:only-child) {
    width: 33%;
}
}

/*Agile Theme Tools Blocks*/ 
/*Old Item Listing with Introduction Block*/
.item-listing h2,
.section-intro-splash h2,
.introductory-text h2 {
    font-size: 2 * $global-font-size;
    @include breakpoint(large) {
        font-size: 2.5 * $global-font-size;
    }
    @include breakpoint(xlarge) {
        font-size: 3 * $global-font-size;
    }
}

.item-listing,
.image-cover-img img {
    width: 100vw;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    @include breakpoint(medium) {
        height: 100%;
    }
    @include breakpoint(large) {
        max-height: unset;
    }
    @include breakpoint(1250) {
        width: 100%;
    }
}

.item-listing {
@include breakpoint(1250) {
    height: 90vh;
}
}

.image-cover-img img {
    @include breakpoint(1250) {
        height: 100vh;
    }
    }

.item-listing-image {
    position: relative;
    background: $black;
}

.title-area {
    order: 1;
    @include breakpoint(large) {
        order: 0;
    }
}

.item-listing .title-area {
    @include breakpoint(large) {
        flex-grow: 1;
    }
}

.block-introduction p,
.introductory-text p {
    font-size: 1.1 * $global-font-size;
        @include breakpoint(xlarge) {
        font-size: 1.25 * $global-font-size;
        }
}

.title-area .button,
.item-listing-title-area button {
    background-color: $uom-footer;
    p {
        font-size: 1.1 * $global-font-size;
    }
    @include breakpoint(large) {
        font-size: 1.25 * $global-font-size;
        }
    a {
        color: $black;
        text-decoration: none;
    }
}

/*New Item Listing with Introduction*/ 
.item-listing-with-introduction {
    background: $alert-color;
    padding: 2 * $global-padding;
}

.item-listing-title-area h3 {
    text-align: center;
}

.item-listing-item {
    overflow:hidden;
    @include breakpoint(medium) {
        &.item-count-2,
        .item-count-4,
        .item-count-6 {
            width: 45%;
        }
    }
    @include breakpoint(large) {
        &.item-count-3,
        .item-count-5 {
            width: 45%;
        }
    }
    @include breakpoint(xlarge) {
        &.item-count-3,
        .item-count-5 {
            width: 30%;
        } 
    }
}

.item-listing-item img {
    height: 35rem;
    width: 35rem;
    object-fit: cover;
    @include breakpoint(large) {
        height: 25rem;
    }
    @include breakpoint(xlarge) {
        height: 30rem;
    }
    @include breakpoint(xxlarge) {
        height: 40rem;
    }
}

.item-listing-item {
@include breakpoint(large) {
    &.item-count-2 img {
        width: 44vw;
    }
    &.item-count-4 img {
        width: 44vw; 
    }
    }
}

/*Cards*/ 
.card.medium-6.large-4.radius.bordered.shadow .card-divider {
    background: $uom-footer;
    flex-grow: 1;
}

.card img {
    width: 100%;
    height: rem-calc(350px);
    object-fit: cover;
    @include breakpoint(large) {
        height: rem-calc(400px)
    }
    @include breakpoint(xlarge) {
        height: rem-calc(500px)
    }
}

/*Compact Cards*/
.compact-card-listing {
    flex-wrap: wrap;
    }

.card-compact {
    position: relative;
    margin: 1 * $global-margin;
}


.compact-card-listing {
    flex-wrap: wrap;
    }

.card-compact {
    position: relative;
    margin: 1 * $global-margin;
}

.card-compact h3 {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
    a {
        position: absolute;
        bottom: 0%;
        padding: 0.7 * $global-padding;
        background: rgba(0,0,0,0.5);
        color: $white;
        width: 100%;
    }
}

.card-compact .representative-image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(2px 4px 6px $black);
}

/*Feature 1*/
#feature-1 {
    background: $light-gray;
}

/*Poster*/
.poster .image-background figure img {  
    width: 100vw;
    object-fit: cover;
    opacity: 0.4;
    height: 100vh;
    @include breakpoint(large) {
        height: rem-calc(700px);
    }
    @include breakpoint(xlarge) {
        height: 100vh;
    }
  }

.image-background {
    position: relative;
}

.poster-text {
    position: absolute;
    z-index: 999999;
}

.colour-scheme-1 {
    background: $black;
}

.colour-scheme-2 {
    background: $secondary-color;
}

.colour-scheme-3 {
    background: #502e05;
}


.colour-scheme-3 .image-background figure img,
.colour-scheme-4 .image-background figure img {
    opacity: 0.3;
}

.colour-scheme-4 {
    background: $alert-color;
}

.colour-scheme-1 p,
.colour-scheme-1 h2,
.colour-scheme-2 p,
.colour-scheme-3 p,
.colour-scheme-4 p {
        color: $white;
    }

    /*Text for mid-size option text*/
.text-treatment-1 {
    color: $white;
    font-weight: 800;
    font-size: 1.2 * $global-font-size;
    padding: $global-padding;
    @include breakpoint(medium) {
        font-size: 1.5 * $global-font-size;
        padding: 0;
    }
    @include breakpoint(large) {
        font-size: 2 * $global-font-size;
        padding: 0;
    }
}

    .text-treatment-2 {
    font-weight: 400;
    padding: $global-padding;
    font-size: 1.1 * $global-font-size;
    @include breakpoint(medium) {
        font-size: 1.2 * $global-font-size;
        padding: 0;
    }
    @include breakpoint(large) {
        font-size: 1.5 * $global-font-size;
        padding: 0;
    }
}

/*Hide Representative Image, Excerpt and Byline*/ 
#content > #blocks > .representative-image,
#content > #blocks > .excerpt,
#content > #blocks > .byline {
    display: none;
}

/*Home page with Introduction*/
/*Slick Slider*/

.slick-slider {
    width: 100%;
}

ul.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    margin-left: 0;
}

ul.slick-dots li button {
    margin-top: 0.5 * $global-margin;
    margin-bottom: 0.5 * $global-margin;
    margin-right: 0.5 * $global-margin;
}

/*Remove button number text*/
ul.slick-dots li.slick-active button {
    color: transparent;
    & include :hover {
        color: transparent;
    }
    }

ul.slick li button:hover {
    color: transparent!important;
}

ul.slick-dots {
    display: none!important;
}

/*Slick Slider*/

.slick-slide img {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

ul.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

ul.slick-dots li {
    margin: 0.5rem 0.5rem 0 0;
}

/*Slick Slider*/
.slick-slide figure figcaption.orbit-caption {
    bottom: 0;
    /*width: 40%;*/
    /*left: 0;*/
    height: fit-content;
}

.slick-prev:before {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    margin: $global-margin;
    @include breakpoint(medium) {
        margin: 1 * $global-margin;
    }
    @include breakpoint(large) {
        margin: 2 * $global-margin;
    }
}

.slick-next:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    margin: -1 * $global-margin;
}

.slick-next,
.slick-prev {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    z-index: 99999999999;
    color: #fff;
        @include breakpoint(large) { 
        font-size: 3rem;
        height: 3rem;
        width: 3rem;
    }
}

.slick-next {
right: 0;
}

.slick-prev {
left: 0;
}

.slick-arrow {
position: absolute;
top: 40%;
cursor: pointer;
}

.slick-arrow:hover {
    color: $warning-color;
}

ul.slick-dots li button {
    border-radius: 66%;
    background: $secondary-color;
    color: transparent;
    }

    ul.slick-dots li.slick-active button {
    background: $warning-color;
}

/*Slideshow*/ 

span.fullscreen-label:before {
    font-family: "Font Awesome 5 Free";
    content: "\f065";
    padding: 0 1rem 1rem 0;
}

/*Excerpt*/ 
.excerpt {
    background-color: $uom-footer;
& p {
    color: #fff;
    padding: 0 $global-padding $global-padding $global-padding;
    margin-bottom: 0;
}
}

/*Byline*/ 
.byline {
    background-color: $uom-footer;
& p {
    color: #fff;
    padding: $global-padding;
    text-align: center;
    margin-bottom: 0;
}
}

/*Site Promo*/ 
.site-image {
    position: relative;
}

.site-image figure {
    height: 100%;
    width: 100%;
    & img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
    }

}

/*Callout*/ 
.callout {
    border: none;
    }

/*End Agile Theme Tools*/
/*Breadcrumbs*/
nav.breadcrumbs {
    margin-top: -1rem;
    padding: 1rem 2rem 0 2rem;
    a {
        color: $black;
        text-decoration: underline;
    }
    @include breakpoint(medium) {
        margin-top: -2rem;
    }
}

/*Quotations*/

.pull-quote {
  margin: 0 auto;
  text-align: left;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: $pull-quote-fontsize-small;
  max-width: 80%;
  line-height: 1.25em;
  text-transform: uppercase;
  color: $pull-quote-color;
  @if $pull-quote-gradient == true {
    background: linear-gradient($secondary-color, $pull-quote-color);
  } @else if $pull-quote-gradient == false {
    background: $pull-quote-color; // sets text color
  }
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:before {
    content: '';
  }

  &:after {
    content: '';
  }

  @include breakpoint(medium) {
    font-size: $pull-quote-fontsize-medium-up;
    max-width: calc(#{$pull-quote-maxwidth} - 5%);
    margin: unset;
    margin: 10px 0 0 20px;
  }

  @include breakpoint(large) {
    max-width: calc(#{$pull-quote-maxwidth} + 5%);
    margin-right: $pull-quote-offset-large;
  }
}

/*Blockquote*/
/* center the blockquote in the page */
.blockquote-wrapper {
    display: flex;
    height: 100%;
    padding: 0 20px;
    @include breakpoint(medium) {
        height: 100vh;
    }
 }
 
 /* Blockquote main style */
 blockquote {
     position: relative;
     max-width: 620px;
     margin: 2 * $global-margin auto;
     align-self: center;
     padding: unset;
     border-left: unset;
 }
 
 /* Blockquote header */
 blockquote h3 {
     position: relative; /* for pseudos */
     color: $primary-color;
     font-size: 2 * $global-font-size;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     border: 2px solid #fff;
     border: solid 2px;
     border-radius:20px;
     padding: 25px;
     @include breakpoint(large) {
        font-size: 3 * $global-font-size;
        line-height: 1.2;
     }
 }
 
 /* Blockquote right double quotes */
 blockquote h3:after {
     content:"";
     position: absolute;
     border: 2px solid $primary-color;
     border-radius: 0 50px 0 0;
     width: 60px;
     height: 60px;
     bottom: -60px;
     left: 50px;
     border-bottom: none;
     border-left: none;
     z-index: 3; 
 }
 
 blockquote h3:before {
     content:"";
     position: absolute;
     width: 80px;
     border: 6px solid $light-gray;
     bottom: -3px;
     left: 50px;
     z-index: 2;
 }
  
 /* Blockquote subheader */
 blockquote cite {
     position: relative;
     color: $black;
     font-size: 1.3 * $global-font-size;
     font-weight: 400;
     line-height: 1.2;
     margin: 0;
     padding-top: 15px;
     z-index: 1;
     margin-left:150px;
     padding-left:12px;
 }
 
  
 blockquote cite:first-letter {
   margin-left:-12px;
   display: inline;
 }

 blockquote cite p {
    display: inline;
    font-style: initial;
    font-size: 1.2 * $global-font-size;
 }

 .background-colour-1 {
    background: $warning-color;
    margin-top: $global-margin;
    margin-bottom: $global-margin;
    @include breakpoint(large) {
        margin-top: 2 * $global-margin;
        margin-bottom: 2 * $global-margin;
     }
 }

 /*Remove margin from top of blocks*/
#splash,
#region-splash {  
     @include breakpoint(large) {
         min-height: rem-calc(700px);
         height: rem-calc(700px);
     }
 }

.region-splash,
.region #splash,
[data-target-region-id="#splash"],
[data-target-region-id="#splash "] {
        overflow: hidden;
        margin-top: (-1 * $global-padding);
        @include breakpoint(medium) {
            margin-top: (-2 * $global-padding);
    }
 }

 /*Remove Scroll Bar*/
html, body {
    overflow-x: hidden;
}

/*General Classes*/ 
/*Bold fonts*/
.font-bold {
    font-weight: 600;
}