@charset 'utf-8';
@import 'globals-default';
@import 'globals-seafoam';
@import 'settings';
// Sea Foam Settings
$topbar-background: transparent;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$button-color: $black;
@import 'foundation-core';
@import 'seafoam';
@import 'omeka';

header .menu a {
    color: $black;
}

header .button {
    border: 1px solid #000;
    margin-left: -1px;
}

header .input-group-field {
    border: 1px solid #000;
    box-shadow: none;
}

a,
.breadcrumbs a {
    color: #000;
    &:hover,
    &:focus {
        color: #000;
    }
}

body.vertical-menu header a {
    color: #000;
    text-decoration: underline;
}

label,
.label {
    color: $white;
}

.site-title a:hover span {
    color: $white;
    }

span.h4.site-title-label {
    color: $black;
}

.media-list .lg-thumb-item img,
.media-list img.lg-image {
    border: 0;
    margin-right: 0;
}

@include breakpoint(medium down) {
    header .menu-toggle[type="button"] {
        border: 0;
    }
    body.vertical-menu header .title-bar button.menu-toggle {
        color: #000;
    }
}

/*Remove margin from top menu buttons*/ 
.title-bar button {
    margin: 0;
}

/*Update menu bar*/ 
.top-bar a {
    color: $black;
}

.top-bar, .top-bar ul {
    background-color: transparent;
}

header .menu a {
    text-decoration: none;
}

.menu .active>a {
    background: transparent;
    color: $black;
}

/*25 02 24 Additions*/ 
/*Remove purple from mobile search*/
.search-bar-mobile button {
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
    }
    
.search-bar-mobile svg path {
    fill: $black;
}

/*Remove a:hover background colour*/
a:hover {
    background-color: unset;
 }
 
 /*Dark purple on active menu element*/
 .menu .active>a, .toc-block>ul .active>a, .toc-block ul ul .active>a {
     color: $white;
     background: $secondary-color;
     font-weight: 600;
 }
 
 /*Border under top navigation menu*/
 .top-bar {
     border-bottom: solid 1px #cfcccc;
 }
 
 .top-bar a:hover {
     color: $white;
     background-color: $primary-color;
     transition: background-color .25s ease-out,color .25s ease-out;
 }
 
 /*Remove border from search icon*/
 header .button {
 border: unset;
 }
 
 ul.dropdown.menu li:hover {
 background-color: $primary-color;
 }
 
 ul.dropdown.menu li:hover a {
 color: $white;
 }

 /*Add padding when search button is showed*/ 
 .search-button.is-shown {
    padding: $global-padding $global-padding $global-padding 0;
 }

 /*Change search button background*/ 
 .search-bar-mobile button.search-icon[aria-expanded=true] {
    background: transparent;
 }

 button.search-icon[aria-expanded="true"] {
    background: transparent!important;
 }

 /*Add fill colour to close button*/
 button.search-icon[aria-expanded=true] svg path {
    fill: $dark-gray;
}

.toc-block ul ul.dropdown>li.is-dropdown-submenu-parent.active>a {
    padding-right: 2rem;
    color: $dark-gray;
}

.dropdown.menu>li.is-active>a, .toc-block>ul.dropdown>li.is-active>a, .toc-block ul ul.dropdown>li.is-active>a {
    color: $dark-gray;
}

#responsive-menu > ul > li.dropdown.active.is-dropdown-submenu-parent.opens-left.is-active > ul > li > a {
color: $white;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after, .toc-block>ul.dropdown>li.is-dropdown-submenu-parent>a::after, .toc-block ul ul.dropdown>li.is-dropdown-submenu-parent>a::after {
border-color: $dark-gray transparent transparent;
}

.toc-block>ul.dropdown>li.is-active>a {
    color: $white;
}

#responsive-menu > ul > li.dropdown.is-dropdown-submenu-parent.opens-left.is-active > ul > li > a {
color: $white;
}

#responsive-menu > ul > li.dropdown.active.is-dropdown-submenu-parent.opens-left.is-active > a:after {
border-color: $dark-gray transparent transparent;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:hover:after {
    border-color: $white transparent transparent;
}

#responsive-menu > ul > li.dropdown.active.is-dropdown-submenu-parent.opens-left.is-active > a:hover:after {
    border-color: $white transparent transparent;
}

/*Footer*/ 
.background-colour-uom-footer a:hover,
.footerContainer a:hover  {
color: $white;
text-decoration: underline;
}

