@charset 'utf-8';
@import 'globals-default';
@import 'globals-seafoam';
@import 'settings';
// Sea Foam Settings
$topbar-background: transparent;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$button-color: $black;
@import 'foundation-core';
@import 'seafoam';
@import 'omeka';

header .menu a {
    color: $black;
}

header .button {
    border: 1px solid #000;
    margin-left: -1px;
}

header .input-group-field {
    border: 1px solid #000;
    box-shadow: none;
}

a,
.breadcrumbs a {
    color: #000;
    &:hover,
    &:focus {
        color: #000;
        background-color: lighten($primary-color, 40%);
    }
}

a.resource-link:hover .resource-name {
    background-color: lighten($primary-color, 40%);
}

body.vertical-menu header a {
    color: #000;
    text-decoration: underline;
}

label,
.label {
    color: $black;
}

span.h4.site-title-label {
    color: $black;
}

.media-list .lg-thumb-item img,
.media-list img.lg-image {
    border: 0;
    margin-right: 0;
}

@include breakpoint(medium down) {
    header .menu-toggle[type="button"] {
        border: 0;
    }
    body.vertical-menu header .title-bar button.menu-toggle {
        color: #000;
    }
}

/*Update menu bar*/ 
.top-bar a {
    color: $black;
}

.top-bar, .top-bar ul {
    background-color: transparent;
}

header .menu a {
    text-decoration: none;
}

.menu .active>a {
    background: transparent;
    color: $black;
}

/*25 02 24 Additions*/ 
/*Remove purple from mobile search*/
.search-bar-mobile button {
    background-color: transparent;
    }
    
    .search-bar-mobile svg path {
        fill: $black;
    }

/*Remove a:hover background colour*/
a:hover {
    background-color: unset;
 }
 
 /*Dark purple on active menu element*/
 .menu .active>a, .toc-block>ul .active>a, .toc-block ul ul .active>a {
     color: $white;
     background: $secondary-color;
     font-weight: 600;
 }
 
 /*Border under top navigation menu*/
 .top-bar {
     border-bottom: solid 1px #cfcccc;
 }
 
 .top-bar a:hover {
     color: $white;
     background-color: $primary-color;
     transition: background-color .25s ease-out,color .25s ease-out;
 }
 
 /*Remove border from search icon*/
 header .button {
 border: unset;
 }
 
 ul.dropdown.menu li:hover {
 background-color: $primary-color;
 }
 
 ul.dropdown.menu li:hover a {
 color: $white;
 }