@charset "utf-8";

@import "seafoam";

/* ==========================================================================
   Inkwell Theme Overrides
   ========================================================================== */

/* Header */

header {
  .menu a {
    color: $black;
    text-decoration: none;
  }

  .button {
    border: unset;
  }

  .input-group-field {
    border: rem-calc(1) solid $black;
    box-shadow: none;
  }
}

.site-title {
  a:hover span {
    color: #609;
    background-color: unset;
    text-decoration: underline;
    transition: color 0.25s ease-out;
  }
}

span.h4.site-title-label {
  color: $black;
}

/* Links */

a,
.breadcrumbs a {
  color: $black;

  &:hover,
  &:focus {
    color: $black;
  }
}

a:hover {
  background-color: unset;
}

body.vertical-menu header a {
  color: $black;
  text-decoration: underline;
}

/* Labels */

label,
.label {
  color: $white;
}

/* Media */

.media-list {
  .lg-thumb-item img,
  img.lg-image {
    margin-right: 0;
    border: 0;
  }
}

/* Mobile menu */

@include breakpoint(medium down) {
  header .menu-toggle[type="button"] {
    border: 0;
  }

  body.vertical-menu header .title-bar button.menu-toggle {
    color: $black;
  }
}

.title-bar {
  button {
    margin: 0;
  }
}

/* Top bar */

.top-bar {
  border-bottom: none;

  &,
  ul {
    background-color: transparent;
  }

  a {
    color: $black;
  }

  .home-icon a:hover {
    color: #609;
    background-color: unset;
    transition: color 0.25s ease-out;
  }
}

/* Navigation */

.menu .active > a,
.toc-block > ul .active > a,
.toc-block ul ul .active > a {
  color: $white;
  font-weight: 600;
  background: $secondary-color;
}

/* Search */

.search-bar-mobile {
  button {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  svg path {
    fill: $black;
  }

  button.search-icon[aria-expanded="true"] {
    background: transparent;
  }
}

.search-button.is-shown {
  padding: 0.5 * $global-padding;
}

button.search-icon[aria-expanded="true"] {
  background: transparent !important;

  svg path {
    fill: $dark-gray;
  }
}

/* Footer */

.dark-background a:hover,
.footerContainer a:hover {
  color: $white;
  text-decoration: underline;
}