@charset 'utf-8';
@import 'globals-default';
@import 'globals-seafoam';
@import 'settings';
@import 'layout/banner';
@import 'layout/body';
@import 'layout/header';
@import 'layout/navigation';

// Sea Foam Settings

$topbar-background: $primary-color;
$thumbnail-border: 4px solid $secondary-color;
$thumbnail-shadow: none;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);

@import 'foundation-core';
@import 'omeka';


.link-text-white a {
  color: $white;
}

/*Page Titles*/ 
.block-heading {
  margin-bottom: 1 * $global-margin;
  @include breakpoint(large) {
    margin-bottom: 2 * $global-margin;
  }
}

/*Metadata Browse*/ 
a.metadata-browse-link {
  display: none;
}



.item-listing-item.max-height.item-count-1 img {
  height: unset;
  max-height: 85vh;
}

/*Test slide overlay for OpenSeadragon Resource with text block*/ 
.position-right #SeadragonOffCanvas {
  width: 600px;
  background: #000000de;
}

/*Generic Block Group Code*/ 
/*For Inclusion*/
.media-text { 
  width: 100%;
  padding: 0;
 }
 
 /*Underline correct items*/ 
  .block-html > p > a,
  .text-block a:not(.button) {
    text-decoration: underline;
  } 


  /*Tooltips*/ 
  /*Code for tooltips*/
  .dark-background .has-tip {
    border-bottom: dotted 1px #ededed;
    color: #fc3;
    font-weight: unset;
    }


/*Fix for iPhones and media displayed vertically
@supports (-webkit-touch-callout: none) {
  .layout-vertical .media-render.html {
    padding: 1rem; /* Safari + iOS only
  }
}*/ 

/*Caption*/ 
.item .caption,
.caption.asset-caption {
  padding: .5 * $global-padding .5 * $global-padding 0 .5 * $global-padding;
  text-align: left;
  font-size: 0.9 * $global-font-size;
  color: $dark-gray;
  margin: 0 1 * $global-margin 0.5 * $global-margin 0.5 * $global-margin;
  border-left: solid rem-calc(1) $light-gray;
  @include breakpoint(medium) {
    border-left: solid rem-calc(6) $light-gray;
  }
  align-self: baseline;
  & p {
    /*border-bottom: solid 1px $light-gray;*/ 
    margin-bottom: 0;
  }
}

.text-around-image .item .caption {
  padding: 0;
  margin: 0.25 * $global-margin 0 0 0;
  border-left: none;
}

/*.dark-background .item.resource > .caption {
  border-left: solid rem-calc(6) $warning-color;
}*/

.dark-background .caption p {
  color: #dddddd;
}

.dark-background .caption.asset-caption {
  padding: 0.5 * $global-padding;
  color: #bdbdbd;
  margin-bottom: 0;
}

.asset .caption {
  margin-bottom: 0.5 * $global-margin;
}

.caption a {
  text-decoration: underline;
}

/*.caption.caption-multiples {
  border-left: none;
}*/ 

/*Resource Grid*/ 
.resource-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint(401) {
    grid-template-columns: 1fr 1fr;
    }

  @include breakpoint(650) {
  grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint(xlarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.resource-grid .resource {
  width: 100%!important;
}
  
  .thumbnail, 
  .resource.show .resource-link img, 
  .media-list img, 
  .resource .resource-link img {
    width: 100%;
    object-fit: cover;
    height: rem-calc(200);
    @include breakpoint(medium) {
    height: rem-calc(250);
    }
  }

  .resource-meta .description.full {
    display: none;
  }

  /*Utility Classes*/ 
  /*Width 100%*/ 
  .width-100 {
    width: 100%;
  }
  
  /*Fix focus dark colour*/ 
  a:focus {
    color: $light-gray;
  }

  .italic-font {
    font-style: italic;
  }

  .no-p-margin-bottom p {
    margin-bottom: 0;
  }

  a.warning-color,
  p.warning-color,
  h2.warning-color,
  h3.warning-color,
  h4.warning-color {
    color: $warning-color;
  }

  /*Width 80vw*/
  .width-80 .attachments.resource-text-openseadragon {
    min-width: 80vw;
    max-width: rem-calc(1500);
  }

  /*Title under media - media embed default*/
  .title-under-media .caption {
  order: 2;
  padding-bottom: 1rem;
  }

/*Asset Media Object*/ 
.media-object-section {
  display: flex;
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row;
  }
}

.asset.media-object .media-object-section {
  @include breakpoint(medium) {
  width: unset;
  }
}

.asset.media-object img,
.media-object-block .asset img {
  width: 100%;
  max-width: unset;
  @include breakpoint(medium) {
    width: 15rem;
    max-height: 15rem;
    object-fit: contain;
  }
    @include breakpoint(xlarge) {
    width: 20rem;
    max-height: 20rem;
  }
}

.asset.media-object img {
  @include breakpoint(medium) {
    object-fit: cover;
  }
}

.media-object-block .asset img {
    @include breakpoint(medium) {
    object-fit: contain;
  }
}

.media-object-block .caption {
  text-align: center;
}

.asset.media-object.has-image .caption {
  max-width: unset;
}

/*Media Object Styling*/ 
.media-object {
  flex-direction: column;
  align-items: center;
  @include breakpoint(medium) {
    flex-direction: row;
  }
  }
    
  .media-object-section:first-child {
  /*margin-bottom: 2rem;*/ 
  padding-right: 0;
  @include breakpoint(medium) {
    margin-bottom: 0;
    padding-right: 2rem;
  }
  }
  
  .media-object img,
  .media-object-block img {
    max-width: none;
    height: 100%;
  }
  
  .media-object .thumbnail,
  .media-object-block .thumbnail {
  width: initial;
  }

    /*4.1 styling*/ 
  /*Foundation S Prototype*/ 
.lead {
  line-height: 1.6;
}

.lead {
  font-size: $lead-font-size;
  @include breakpoint(small only) {
    font-size: $global-font-size * 1.05; // Adjust font size directly in the class
    line-height: $lead-lineheight;
  }
}

/*Style scrollbar*/ 
/* width */
::-webkit-scrollbar {
  width: rem-calc(11);
}

/*Apply smaller scrollbar to CORALA*/ 
.toggle-caption-img ::-webkit-scrollbar {
  width: rem-calc(6);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



