@charset 'utf-8';
@import 'globals-default';
@import 'globals-seafoam';
@import 'settings';

@import 'foundation-core';

@import "base/index";
@import "layout/index";
@import "components/index";
@import "blocks/index";
@import "utilities/index";
@import "vendor/index";

@import 'omeka';

// Sea Foam Settings

$topbar-background: $primary-color;
$thumbnail-border: 4px solid $secondary-color;
$thumbnail-shadow: none;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);


/*John McCrory edits*/

/*Foundation Settings*/ 
//-----------------------

/*Blocks*/
//-----------------------------

/*Original Omeka S Blocks*/
//-----------------------------

/*Coloured backgrounds*/
.background-colour-light-gray {
  background-color: $light-gray;
}


/*BlockPlus Blocks*/
//--------------------------------

/*Flex-grow*/
.flex-grow {
  flex-grow: 1;
  }

/*Resource with Text block*/
.attachments {
  flex-grow: 1;
}

.text {
  padding: $global-padding 0;
  @include breakpoint(large) {
    padding: 0.5 * $global-padding 0;
  }
  @include breakpoint(xlarge) {
    padding: 0.5 * $global-padding $global-padding;
  }
}

.resource-text {
  max-width: rem-calc(850);
  margin: 0 auto;
}

.metadata {
  margin: 0 0 0.5rem 0; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 0;
}

.metadata h1 a,
.metadata h2 a,
.metadata h2 a,
.metadata h2.h1 a,
.metadata h2.h2 a {
  font-weight: 400;
}

.metadata-value {
  display: block;
}

/*Resource with Text - Image Cover*/
.image-cover .left {
  float: unset;
  margin: unset;
  max-width: unset;
  order: 0;
}

.image-cover .right {
  float: unset;
  margin: unset;
  max-width: unset;
  order: 1;
}

.image-cover-img {
  position: relative;
}

/*Add dark background to Openseadragon container*/
.openseadragon-container {
  background-color: #1c1919!important;
}

/*Button align for Full Screen Openseadragon Resource Text Block*/ 
.openseadragon-container img {
  vertical-align: top!important;
}

.item.resource {
  width: 100%;
}

.link-text-white a {
  color: $white;
}

/*Media Text  Block Styling*/
.media-text .right {
  order: 1;
}
  
  /*Full width 'left' and 'right' images for Resource with Text on mobiles*/
  @media screen and (max-width: 899px) {
  .media-text .left,
  .media-text .right {
  float: unset;
  margin: 0;
  width: 100%;
  }
 
  /*Revise order for 'right' items*/
  .media-text .right {
  order: 0;
  }
}

/*Page Titles*/ 
.block-heading {
  margin-bottom: 1 * $global-margin;
  @include breakpoint(large) {
    margin-bottom: 2 * $global-margin;
  }
}

/*Centre Items*/ 
.main-with-sidebar .media-render {
  text-align: center;
}

/*IvyRze blocks*/ 
.result-site a {
  position: unset;
}

.input-group-button button {
  border-radius: 0 1.25rem 1.25rem 0;
}

/*Search Results*/
.site_pages.results ul li a {
  color: $secondary-color;
  text-decoration: underline;
  }

.resource.show .resource-link img, 
#linked-resources img, 
.results 
.resource-link img {
    width: 90vw!important;
    height: 100%!important;
    @include breakpoint(medium){
      object-fit: cover;
      width: rem-calc(300)!important;
      height: rem-calc(300)!important;
    }
}

span.resource-name {
  margin-top: 0.5 * $global-margin;
  width: 100%;
  margin: 0 auto;
  padding: 0.5 * $global-padding;
  font-size: 1.1rem;
}

.results ul {
  display: grid;
  gap: 1rem;
  @include breakpoint(450) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(750) {
    grid-template-columns: 1fr 1fr 1fr ;
  }
  @include breakpoint(xlarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.result-title a,
.result-site a {
  padding: 0;
  font-size: 1rem;
}

.results .result-site, 
.results ul ul {
  padding-left: 0;
  margin-left: 0;
}

.item.results ul ul {
  padding: 0.5 * $global-padding;
  li {
    margin-bottom: 0.5 * $global-margin;
    &:not(:last-child) {
    border-bottom: solid 1px $light-gray;
    }
  }
}

.item.results .card img {
  height: 200px;
}

.results>ul>li {
  width: unset!important;
  display: grid;
  grid-template-rows: max-content;
  align-items: start;
  gap: 0.25rem;
}

.results .resource-link, 
.resource.show .resource-link {
  flex-direction: column;
}

/*Item and site results*/ 
.results .result-title,
.results .result-site {
  padding: 0.5 * $global-padding;
}

.results>h2 {
  font-weight: 400;
}

/*Site results*/ 
.site.results>a {
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding-left: 0;
  text-decoration: underline;
}

.site.results .result-title,
.item.results .result-title {
  background: $secondary-color;
  color: #fff;
  height: 100%;
  & a {
    color: #fff;
  }
}

.site.results>ul>li {
  border: solid 1px #efefef;
}

/*Item results*/ 
.item.results>a,
.item-set.results>a {
  text-decoration: underline;
}

.item-set.results>ul {
  margin-bottom: 1rem;
}

/*Breadcrumbs*/
nav.breadcrumbs {
  margin-top: -1rem;
  padding: 1rem 2rem 0 2rem;
  a {
      color: #343536;
      text-decoration: underline;
  }
  @include breakpoint(medium) {
      margin-top: -2rem;
  }
}



/*Responsive Embed*/ 
.responsive-embed.aspect16_9, 
.flex-video.aspect16_9 {
padding-bottom: 56.25%;
}

.responsive-embed.aspect4_3, 
.flex-video.aspect4_3 {
padding-bottom: 75%;
}

/*Metadata Browse*/ 
a.metadata-browse-link {
  display: none;
}

/*General Classes*/ 
/*Underline Links*/ 
.dark-background a:not(.learn-more a) {
  text-decoration: underline;
}

.dark-background a.button.warning {
  text-decoration: none;
}

.dark-background button a:hover,
.dark-background h2.button a,
.dark-background h2.button a:hover {
  text-decoration: none;
}

/*White Text*/ 
.white-text p,
.white-text h1,
.white-text h2,
.white-text h3 {
  color: $white;
}

/*Fill Button*/ 
.fill-button .learn-more .hollow {
  background: $warning-color;
}

/*Bold fonts*/
.font-bold {
  font-weight: 600;
}

/*Large fonts*/ 
.font-large {
  font-size: $global-font-size * 1.2;
}

.no-margin {
  margin: unset;
}

/*No right click*/ 
.no-right-click .media-embed {
  pointer-events: none;
}

/*Grey Background*/
.gray-background {
background: $light-gray
}

.item-listing-item.max-height.item-count-1 img {
  height: unset;
  max-height: 85vh;
}

/*Toggle Reveal*/
.clickToReveal {
  cursor: pointer;
  padding: 0.5rem;
  & li {
      list-style: none;
  }
  & summary {
      padding-bottom: 0.5 * $global-padding;
  }
}

/*Click to reveal styling*/ 
.dropdown-pane.is-open {
  display: contents;
  & img {
    max-height: 90vh;
  }
}

/*Reveal caption*/
button#reveal-caption {
  margin: 0;
  padding: 0.75 * $global-padding 0.5 * $global-padding;
  width: 100%;
  font-size: 1rem;
  background: $dark-gray;
  color: $white;
  &:hover {
    background: darken($dark-gray, 5%);
  }
  @include breakpoint(large) {
    padding: 0.75 * $global-padding;
  }
}

.reveal-caption {
display: none;
}

/*Test slide overlay for OpenSeadragon Resource with text block*/ 
.position-right #SeadragonOffCanvas {
  width: 600px;
  background: #000000de;
}

/*Stop figcaption overlapping image*/
.orbit-caption.no-overlay,
.no-overlay .orbit-caption {
  position: unset;
}

/*Version 4.1 additions*/
.attachments {
  width: 100%;
}

.media-render.file {
  display: flex;
  justify-content: center;
  @include breakpoint(medium) {
  padding: $global-padding $global-padding 0 $global-padding;
  }
}

.media-render.iiif {
  width: 100%;
}

/*Generic Block Group Code*/ 
/*For Inclusion*/
.media-text { 
  width: 100%;
  padding: 0;
 }
 
  /*Remove padding for square thumbnail*/ 
  .square .media-render {
    padding: 0;
  }

  .media.file {
    width: 100%;
  }

  /*Centre img for non-iiif material*/ 
  .media-embed .resource {
    text-align: center;
    margin-top: 1rem;
  }

  /*Utility Classes*/ 
/*Image styling for asset hero*/ 
.img-auto .asset-hero, 
.img-auto .asset-hero-horizontal-img {
  background-size: auto;
}

.img-contain .asset-hero,
.img-contain .asset-hero-horizontal-img {
  background-size: contain;
}

/*Remove max height for large img (multiples) */ 
.no-max-height .media-embed-block .large:not(:only-child) img {
    max-height: unset!important;
}

.subheader {
  color: #4f4f4f;
}

  .flex-1-1-0 {
    flex: 1 1 0;
  }
  .small-only {
    display: block;
    @include breakpoint(medium) {
      display: none;
    }
  }
  .medium-up {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
  .no-margin-top {
    margin-top: 0;
    @include breakpoint(medium) {
      margin-top:-2 * $global-margin;
    }
  }

  .margin-0-5 {
    margin: 0.5 * $global-margin;
  }

    .noButton .learn-more {
    display: none;
    }

  /*Underline correct items*/ 
  .block-html > p > a,
  .text-block a:not(.button) {
    text-decoration: underline;
  } 


  .max-img-height {
    max-height: rem-calc(300);
      @include breakpoint(large) {
      max-height: rem-calc(350);
    }
      @include breakpoint(xlarge) {
      max-height: rem-calc(400);
    }
  }

  /*Tooltips*/ 
  /*Code for tooltips*/
  .dark-background .has-tip {
    border-bottom: dotted 1px #ededed;
    color: #fc3;
    font-weight: unset;
    }
  
  /*Multiple Asset Images*/ 
    .assets.asset-column-2,
    .assets.asset-column-3,
    .assets.asset-column-4 {
      display: grid;
      justify-content: space-evenly;
      justify-items: center;
      & img {
        max-height: 80vh;
      }
    }

/*Multiples styling*/ 
.multiples .seadragonbox {
  display: flex;
  }

/*Multiples styling*/ 
/*.attachment-count-2 .item.resource:not(:last-child),
.attachment-count-3 .item.resource:not(:last-child) {
  margin-right: 1rem;
  @include breakpoint(large) {
    margin-right: 0;
  }
}*/

/*Caption*/ 
.item .caption,
.caption.asset-caption {
  padding: .5 * $global-padding .5 * $global-padding 0 .5 * $global-padding;
  text-align: left;
  font-size: 0.9 * $global-font-size;
  color: $dark-gray;
  margin: 0 1 * $global-margin 0.5 * $global-margin 0.5 * $global-margin;
  border-left: solid rem-calc(1) $light-gray;
  @include breakpoint(medium) {
    border-left: solid rem-calc(6) $light-gray;
  }
  align-self: baseline;
  & p {
    /*border-bottom: solid 1px $light-gray;*/ 
    margin-bottom: 0;
  }
}

.text-around-image .item .caption {
  padding: 0;
  margin: 0.25 * $global-margin 0 0 0;
  border-left: none;
}

/*.dark-background .item.resource > .caption {
  border-left: solid rem-calc(6) $warning-color;
}*/

.dark-background .caption p {
  color: #dddddd;
}

.dark-background .caption.asset-caption {
  padding: 0.5 * $global-padding;
  color: #bdbdbd;
  margin-bottom: 0;
}

.asset .caption {
  margin-bottom: 0.5 * $global-margin;
}

.caption a {
  text-decoration: underline;
}

/*.caption.caption-multiples {
  border-left: none;
}*/ 

/*Resource Grid*/ 
.resource-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint(401) {
    grid-template-columns: 1fr 1fr;
    }

  @include breakpoint(650) {
  grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint(xlarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.resource-grid .resource {
  width: 100%!important;
}
  
  .thumbnail, 
  .resource.show .resource-link img, 
  .media-list img, 
  .resource .resource-link img {
    width: 100%;
    object-fit: cover;
    height: rem-calc(200);
    @include breakpoint(medium) {
    height: rem-calc(250);
    }
  }

  .resource-meta .description.full {
    display: none;
  }

  /*Utility Classes*/ 
  /*Width 100%*/ 
  .width-100 {
    width: 100%;
  }
  
  /*Fix focus dark colour*/ 
  a:focus {
    color: $light-gray;
  }

  .italic-font {
    font-style: italic;
  }

  .no-p-margin-bottom p {
    margin-bottom: 0;
  }

  a.warning-color,
  p.warning-color,
  h2.warning-color,
  h3.warning-color,
  h4.warning-color {
    color: $warning-color;
  }

  /*Width 80vw*/
  .width-80 .attachments.resource-text-openseadragon {
    min-width: 80vw;
    max-width: rem-calc(1500);
  }

  /*Image Hero Styling*/ 
/*Responsive img hero banner*/ 
/*Image Hero*/
.img-hero {
  height: 18.75rem;
  position: relative;
  margin-top: -0.5rem;
  height: rem-calc(350px);
  background: $uom-footer;
  @include breakpoint(medium) {
    margin-top: rem-calc(-32px) !important;
    height: rem-calc(400px);
  }
  @include breakpoint(xlarge) {
    height: rem-calc(500px);
  }
}

.img-hero img {
width: 100%; 
height: 100%; 
object-fit: cover;
display: block;
margin: 0 auto;
max-width: rem-calc(2000px);
}

#content .img-hero {
  padding-block: 0;
}

.img-hero .hero-title-img {
position: absolute;
z-index: 9999;
bottom: 30%;
max-width: 28rem;
@include breakpoint(large) {
  bottom: 25%;
}
} 

.hero-title-img h1 {
  color: #333;
  font-weight: 300;
  background: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0.5rem 1rem;
}