/* ==========================================================================
   Scrollbar
   ========================================================================== */

::-webkit-scrollbar {
  width: rem-calc(11);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;

  &:hover {
    background: #555;
  }
}

/* Remove horizontal scroll bar */

html,
body {
  overflow-x: clip;
}

/* Smaller scrollbar for CORALA */

.toggle-caption-img ::-webkit-scrollbar {
  width: rem-calc(6);
}