/*Style scrollbar*/ 
/* width */
::-webkit-scrollbar {
  width: rem-calc(11);
}

/*Apply smaller scrollbar to CORALA*/ 
.toggle-caption-img ::-webkit-scrollbar {
  width: rem-calc(6);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Remove Scroll Bar*/
html, body {
  overflow-x: clip;
}