/* ==========================================================================
   Buttons
   ========================================================================== */

.button.warning,
.button.hollow.warning {
  color: #0a0a0a;
}

.button.hollow:hover {
  color: $white;
  background-color: $primary-color;
}

.input-group-button button {
  border-radius: 0 rem-calc(20) rem-calc(20) 0;
}