/*Caption*/ 
.item .caption,
.caption.asset-caption {
  padding: .5 * $global-padding .5 * $global-padding 0 .5 * $global-padding;
  text-align: left;
  font-size: 0.9 * $global-font-size;
  color: $dark-gray;
  margin: 0 1 * $global-margin 0.5 * $global-margin 0.5 * $global-margin;
  border-left: solid rem-calc(1) $light-gray;
  @include breakpoint(medium) {
    border-left: solid rem-calc(6) $light-gray;
  }
  align-self: baseline;
  & p {
    /*border-bottom: solid 1px $light-gray;*/ 
    margin-bottom: 0;
  }
}

.text-around-image .item .caption {
  padding: 0;
  margin: 0.25 * $global-margin 0 0 0;
  border-left: none;
}

.dark-background .caption p {
  color: #dddddd;
}

.dark-background .caption.asset-caption {
  padding: 0.5 * $global-padding;
  color: #bdbdbd;
  margin-bottom: 0;
}

.asset .caption {
  margin-bottom: 0.5 * $global-margin;
}

.caption a {
  text-decoration: underline;
}