/* ==========================================================================
   Captions
   ========================================================================== */

.item .caption,
.caption.asset-caption {
  align-self: baseline;
  margin: 0 $global-margin 0.5 * $global-margin 0.5 * $global-margin;
  padding: 0.5 * $global-padding 0.5 * $global-padding 0;
  color: $dark-gray;
  font-size: 0.9 * $global-font-size;
  text-align: left;
  border-left: rem-calc(1) solid $light-gray;

  @include breakpoint(medium) {
    border-left-width: rem-calc(6);
  }

  p {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }
}

.text-around-image {
  .item .caption {
    margin: 0.25 * $global-margin 0 0;
    padding: 0;
    border-left: none;
  }
}

.dark-background {
  .caption p {
    color: #ddd;
  }

  .caption.asset-caption {
    margin-bottom: 0;
    padding: 0.5 * $global-padding;
    color: #bdbdbd;
  }
}

.asset {
  .caption {
    margin-bottom: 0.5 * $global-margin;
  }
}