/* ==========================================================================
   Content Warning
   ========================================================================== */

.content-warning {
  padding: $global-padding;
  color: $black;
  background-color: $light-gray;
}

/* Warning bar */

.peek-a-bar {
  padding: 0.5rem 1rem;
  background-color: $secondary-color;
}

.warning-bar {
  display: flex;
}

.warning-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.close-icon {
  display: flex;
  margin: 0 2rem;
  font-size: 2rem;
}

.content-warning-panel {
  width: 100%;
  min-height: rem-calc(40);
  padding: 0 0.5 * $global-padding;
  background-color: $dark-gray;

  @include breakpoint(medium) {
    max-width: rem-calc(40);
  }

  @include breakpoint(large) {
    padding: 0 $global-padding;
  }
}

.fa-exclamation-triangle::before {
  color: $white;
  font-size: rem-calc(18);
}