.file img {
  max-width: 100%;
  height: auto;
  max-height: 60vh;
  @include breakpoint(medium) {
    max-height: 70vh;
  }
  @include breakpoint(large) {
    max-height: 80vh;
  }
  @include breakpoint(xlarge) {
    max-height: 90vh;
  }
}

.media-render.file {
  display: flex;
  justify-content: center;
  @include breakpoint(medium) {
  padding: $global-padding $global-padding 0 $global-padding;
  }
}