/* ==========================================================================
   Language Switcher
   ========================================================================== */

#lang {
  display: flex;
  order: 0;
  margin: 0;
}

/* ==========================================================================
   Language Bar
   ========================================================================== */

#language-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #393a3c;
  border-radius: rem-calc(20);
  margin-right: 0.5rem;
  @include breakpoint(400) {
    margin-right: 0.75 * $global-margin;
  }

  @include breakpoint(500) {
    margin-right: 1 * $global-margin;
  }
  
  button {
    padding: 1em;
  }
}

.language-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;

  @include breakpoint(large) {
    padding:
      0.5 * $global-padding
      1.5 * $global-padding
      0.5 * $global-padding
      0.5 * $global-padding;
  }

  &::before {
    content: "";
    width: rem-calc(18);
    height: rem-calc(18);
    margin-left: 0.5 * $global-margin;
    background:
      url("https://www.digitalexhibitions.manchester.ac.uk/files/asset/globe-svgrepo-com-white.svg")
      no-repeat;
    background-size: rem-calc(18);

    @include breakpoint(large) {
      width: rem-calc(26);
      height: rem-calc(26);
      margin: 0 $global-margin;
      background-size: rem-calc(26);
    }
  }
}

.language-label-text {
  display: none;

  @include breakpoint(large) {
    display: block;
  }
}

.language-hide {
  display: none;
}

/* ==========================================================================
   Toggle
   ========================================================================== */

#switcher-toggle {
  margin-left: 0;
  background:
    url("https://www.digitalexhibitions.manchester.ac.uk/files/asset/Arrow-down-white.svg")
    center / 1rem no-repeat;

  @include breakpoint(large) {
    background-size: 1.5rem;
  }
}

div.language-switcher {
  position: relative;
}

.language-switcher {
  &.closed {
    @include breakpoint(large) {
      display: none;
    }

    > ul {
      display: none;
    }
  }

  > ul {
    position: absolute;
    right: 0;
    z-index: 99;
    margin: rem-calc(6) 0 0;
    padding: rem-calc(12) rem-calc(18);
    list-style: none;
    line-height: rem-calc(36);
    background: $white;
    border-radius: rem-calc(6);
    box-shadow: 0 0 rem-calc(20) rgba(0, 0, 0, 0.1);
  }

  li a {
    color: $black;
    white-space: nowrap;
    opacity: 0.65;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  a.checked {
    opacity: 1;
  }
}

/* ==========================================================================
   Locale Codes
   ========================================================================== */

ul.language-switcher.locale-code {
  padding-inline-start: 0;
  text-transform: uppercase;

  li {
    a {
      color: #343536;
      font-weight: 600;
      text-decoration: underline;
    }

    span.active {
      color: #343536;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

a.language-show {
  color: $white;

  &:hover {
    color: $warning-color;
  }

  &:not(:last-of-type)::after {
    content: "|";
    padding-inline: 0.5rem;
  }
}