/* ==========================================================================
   LightGallery
   ========================================================================== */

#itemfiles {
  min-height: 40vh !important;

  @include breakpoint(medium) {
    min-height: 60vh !important;
  }

  @include breakpoint(large) {
    min-height: 80vh !important;
  }

  @include breakpoint(xlarge) {
    min-height: 90vh !important;
  }
}

#lg-download-1 {
  display: none;
}