/*Mapping block*/ 
/*Change mapping view*/
.mapping-block {
    padding: 0 1rem;
}

.mapping-block .mapping-map {
    height: rem-calc(400)!important;
    position: relative;
    outline: none;
    width: 100%;
    max-width: rem-calc(1600px);
    margin: 0 auto;
    @include breakpoint (medium) {
      height: 90vh !important
    }
}