/* ==========================================================================
   Mirador
   ========================================================================== */

/* ==========================================================================
   Container
   ========================================================================== */

.mirador {
  margin: 2 * $global-margin 0 !important;
}

/* ==========================================================================
   Mobile Controls
   ========================================================================== */

.MuiIconButton-root {
  @include breakpoint(351 down) {
    padding: rem-calc(6) !important;
  }
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.mirador-canvas-nav {
  [type="button"]:focus {
    color: inherit;
    background-color: transparent !important;
  }
}

/* ==========================================================================
   Workspace
   ========================================================================== */

/* Future Mirador workspace customisations */

/*
.mirador-workspace {
}
*/

/* ==========================================================================
   Viewer
   ========================================================================== */

/* Future Mirador viewer customisations */

/*
.mirador-viewer {
}
*/