/* ==========================================================================
   OpenSeadragon
   ========================================================================== */

/* ==========================================================================
   Viewer
   ========================================================================== */

.openseadragon {
  box-shadow: rgba(99, 99, 99, 0.2) 0 rem-calc(2) rem-calc(8) 0;
}

/* ==========================================================================
   Container
   ========================================================================== */

.openseadragon-container {
  background-color: #1c1919 !important;

  img {
    vertical-align: top !important;
  }
}

/* ==========================================================================
   Canvas
   ========================================================================== */

/* macOS focus fix */

.openseadragon-canvas:focus {
  outline: none;
}

/* ==========================================================================
   Controls
   ========================================================================== */

/* Future OpenSeadragon control customisations */

/*
.openseadragon-container .navigator {
}

.openseadragon-container .openseadragon-button {
}
*/

/* ==========================================================================
   Full Screen
   ========================================================================== */

/* Future full-screen customisations */

/*
.openseadragon-fullpage {
}
*/