/*Accordion*/ 
.accordion-trigger {
  padding-block: 20px!important;
  }
  
  button.accordion-trigger {
  cursor: pointer;
  }

.accordion-content.collapsed {
  padding: 0;
}

/*Jumbotron Search*/ 
.jumbotron-search form {
  padding: 0!important;
  max-width: rem-calc(850);
}

.jumbotron-search input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 0 rem-calc(16);
  font-size: rem-calc(16)!important;
  height: rem-calc(50)!important;
}

.jumbotron-search button[type="submit"] {
  padding: 0 rem-calc(16)!important;
}

.jumbotron-search button[type="submit"]:hover {
  line-height: 2em;
  color: #fff;
  border-radius: 0 rem-calc(8) rem-calc(8) 0;
}

.result-site a {
  position: unset;
}

/*Image Banner Block Code*/
/*Add dark text option for Image Banner*/ 
.image-banner-dark-text .image-banner .overlay-container > h1,
.image-banner-dark-text .image-banner .overlay-container > p {
  background: #ffffffba;
  color: #000;
  padding: 1rem;
  width: fit-content;
}

.image-banner-dark-text .image-banner .overlay-container > p {
  padding: 0.5rem;
  margin-block: 0;
  opacity: 0.9;
}

section.image-banner {
  margin-top: 0 * $global-margin;
  @include breakpoint(medium) {
    margin-top: -2 * $global-margin;
  }
}

.image-banner .image-container img {
  /*max-width: 1400px;*/
  max-width: unset;
}

.image-banner .image-container::after {
  opacity: 0.2;
}

.image-banner .overlay-container {
 min-height: unset!important;
 height: rem-calc(275px);
 @include breakpoint(medium) {
  height: rem-calc(325px);
 }
  @include breakpoint(large) {
  height: rem-calc(350px);
 }
  @include breakpoint(xlarge) {
  height: rem-calc(400px);
 }
}

.image-banner .overlay-container h1,
.image-banner .overlay-container h2 {
  background: $uom-footer;
  width: fit-content;
  padding: 1rem;
  font-weight: 400!important;
  margin-bottom: 0;
  @include breakpoint(large) {
    font-size: rem-calc(42);
  }
}

.image-banner .overlay-container > p {
  margin-block: 0!important;
  color: $black;
  font-size: 1rem;
  width: fit-content;
  @include breakpoint(medium) {
    font-size: 1.5rem;
  }
}

.image-banner.tint-light .overlay-container > h1,
.image-banner.tint-light .overlay-container > h2,
.image-banner.tint-light .overlay-container > p {
  opacity: unset;
  background: rgba(255, 255, 255, .7)!important;
  padding: 0.5rem;
  backdrop-filter: blur(rem-calc(3px));
}

.image-banner.tint-light .image-container::after {
  background-color: transparent!important;
}

.image-banner.tint-dark .overlay-container > h1,
.image-banner.tint-dark .overlay-container > h2,
.image-banner.tint-dark .overlay-container > p {
  color: $white;
}

.image-banner.tint-dark .overlay-container > p {
  background: #1d1d1d;
  padding: 0.5 * $global-padding $global-padding;
  opacity: 1;
}