/*Quotations*/
.pull-quote {
margin: 0 auto;
text-align: left;
font-weight: 400;
letter-spacing: 1.5px;
font-style: normal;
font-size: $pull-quote-fontsize-small;
max-width: 80%;
line-height: 1.25em;
text-transform: uppercase;
color: $pull-quote-color;
@if $pull-quote-gradient == true {
  background: linear-gradient($secondary-color, $pull-quote-color);
} @else if $pull-quote-gradient == false {
  background: $pull-quote-color; // sets text color
}
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

&:before {
  content: '';
}

&:after {
  content: '';
}

@include breakpoint(medium) {
  font-size: $pull-quote-fontsize-medium-up;
  max-width: calc(#{$pull-quote-maxwidth} - 5%);
  margin: unset;
  margin: 10px 0 0 20px;
}

@include breakpoint(large) {
  max-width: calc(#{$pull-quote-maxwidth} + 5%);
  margin-right: $pull-quote-offset-large;
}
}

.fa-quote-left {
  font-size: 2rem;
  @include breakpoint(large) {
    font-size: 3rem;
  }
}

/*Blockquote*/
.blockquote-wrapper {
  max-width: rem-calc(800px);
}

blockquote {
  color: #fff;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.4;
  position: relative;
  margin: 2rem auto;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  @include breakpoint(large) {
    font-size: 1.8rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }
}

.dark-background blockquote p {
  color: $warning-color;
}

.dark-background cite,
.dark-background .fa-quote-left:before {
  color: #f63;
  }

.no-border-left blockquote {
  border-left: none;
  border-right: .4rem solid $warning-color;
}

/*blockquote:before,
blockquote:after {
  position: absolute;
  color: #8facad;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  top: -5rem;
}

blockquote:after {
  content: "”";
  bottom: -1rem;
  right: 0;
}*/

.blockquote-wrapper p {
  font-size: 1.2rem;
  @include breakpoint(large) {
    font-size: 1.4rem;
  }
}

cite {
  line-height: 2;
  text-align: left;
  font-size: $global-font-size;
}