/* ==========================================================================
   Quotations
   ========================================================================== */

/* Pull Quote */

.pull-quote {
  max-width: 80%;
  margin: 0 auto;
  color: $pull-quote-color;
  font-size: $pull-quote-fontsize-small;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: rem-calc(1.5);
  text-align: left;
  text-transform: uppercase;

  @if $pull-quote-gradient == true {
    background: linear-gradient($secondary-color, $pull-quote-color);
  } @else {
    background: $pull-quote-color;
  }

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::before,
  &::after {
    content: "";
  }

  @include breakpoint(medium) {
    max-width: calc(#{$pull-quote-maxwidth} - 5%);
    margin: rem-calc(10) 0 0 rem-calc(20);
    font-size: $pull-quote-fontsize-medium-up;
  }

  @include breakpoint(large) {
    max-width: calc(#{$pull-quote-maxwidth} + 5%);
    margin-right: $pull-quote-offset-large;
  }
}

/* Quote Icon */

.fa-quote-left {
  font-size: rem-calc(32);

  @include breakpoint(large) {
    font-size: rem-calc(48);
  }
}

/* ==========================================================================
   Blockquotes
   ========================================================================== */

.blockquote-wrapper {
  max-width: rem-calc(800);

  p {
    font-size: 1.2rem;

    @include breakpoint(large) {
      font-size: 1.4rem;
    }
  }
}

blockquote {
  position: relative;
  margin: 2rem auto;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  color: $white;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.4;

  @include breakpoint(large) {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-size: 1.8rem;
  }
}

cite {
  font-size: 1.2rem;
  line-height: 2;
  text-align: left;
}

/* ==========================================================================
   Dark Background Variant
   ========================================================================== */

.dark-background {
  blockquote p {
    color: $warning-color;
  }

  cite,
  .fa-quote-left::before {
    color: #f63;
  }
}

/* ==========================================================================
   No Border Variant
   ========================================================================== */

.no-border-left {
  blockquote {
    border-left: none;
    border-right: rem-calc(6.4) solid $warning-color;
  }
}