/* ==========================================================================
   Search Results
   ========================================================================== */

.site_pages.results {
  ul li a {
    color: $secondary-color;
    text-decoration: underline;
  }
}

.resource.show .resource-link img,
#linked-resources img,
.results .resource-link img {
  width: 90vw !important;
  height: 100% !important;

  @include breakpoint(medium) {
    width: rem-calc(300) !important;
    height: rem-calc(300) !important;
    object-fit: cover;
  }
}

span.resource-name {
  width: 100%;
  margin: 0 auto;
  padding: 0.5 * $global-padding;
  font-size: 1.1rem;
}

.results {
  > h2 {
    font-weight: 400;
  }

  > ul {
    display: grid;
    gap: 1rem;

    @include breakpoint(450) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(750) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(xlarge) {
      grid-template-columns: repeat(4, 1fr);
    }

    > li {
      display: grid;
      grid-template-rows: max-content;
      gap: 0.25rem;
      align-items: start;
      width: unset !important;
    }
  }

  .resource-link {
    flex-direction: column;
  }

  .result-title,
  .result-site {
    padding: 0.5 * $global-padding;

    a {
      padding: 0;
      font-size: 1rem;
    }
  }

  .result-site,
  ul ul {
    margin-left: 0;
    padding-left: 0;
  }
}

.resource.show {
  .resource-link {
    flex-direction: column;
  }
}

/* Site results */

.site.results {
  > a {
    display: block;
    margin-top: 0.5rem;
    padding-left: 0;
    font-size: 1rem;
    text-decoration: underline;
  }

  > ul > li {
    border: rem-calc(1) solid #efefef;
  }
}

/* Item and site result headings */

.site.results .result-title,
.item.results .result-title {
  height: 100%;
  color: $white;
  background: $secondary-color;

  a {
    color: $white;
  }
}

/* Item results */

.item.results {
  > a {
    text-decoration: underline;
  }

  ul ul {
    padding: 0.5 * $global-padding;

    li {
      margin-bottom: 0.5 * $global-margin;

      &:not(:last-child) {
        border-bottom: rem-calc(1) solid $light-gray;
      }
    }
  }

  .card img {
    height: rem-calc(200);
  }
}

/* Item set results */

.item-set.results {
  > a {
    text-decoration: underline;
  }

  > ul {
    margin-bottom: 1rem;
  }
}