/* ==========================================================================
   Sensitive Content
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

.sensitive-material {
  .large-7 {
    order: 1;
    margin-top: 4 * $global-margin;

    @include breakpoint(large) {
      order: 0;
      margin-top: initial;
    }
  }
}

/* ==========================================================================
   Warning Message
   ========================================================================== */

.sensitive-content {
  position: absolute;
  z-index: 99999;
  max-width: rem-calc(480);
  background: #ffffff9c;
  border-radius: rem-calc(8);
}

i.far.fa-eye-slash.fa-lg {
  margin: 1rem auto 0;
  color: $dark-gray;
  font-size: rem-calc(32);

  @include breakpoint(large) {
    font-size: rem-calc(48);
  }
}

p.warning-text {
  color: $dark-gray;
  font-size: rem-calc(16);
  font-weight: 400;
}

/* ==========================================================================
   Toggle
   ========================================================================== */

#unblur-image {
  background-color: unset !important;

  &[aria-expanded="false"] {
    .sensitive-content {
      display: none;
    }
  }
}

/* ==========================================================================
   Media Overlay
   ========================================================================== */

.sensitive-wrapper {
  position: relative;
}

button.sensitive-overlay {
  position: absolute;
  z-index: 9999;
  margin-bottom: 0;
  background-color: rgba(255, 254, 255, 0.8) !important;
  border-radius: rem-calc(6);
}

button.sensitive-overlay[aria-expanded="true"] {
  display: none;
}

/* ==========================================================================
   Media Blur
   ========================================================================== */

.sensitive-media {
  width: 100%;

  .media-render {
    filter: blur(rem-calc(24));
  }

  &.sensitive-media-show {
    .media-render {
      filter: unset;
    }
  }
}