/*Home Page Code*/ 
/* Ensure the home-card-container is always a 4-column grid */
.home-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: auto 1fr;
  gap: 20px; /* Spacing between grid items */
}

/* Grid areas for children */
.home-card-text {
  grid-area: home-card-text;
  grid-row: 2;
}

.home-card-image {
  grid-area: home-card-image;
  grid-row: 1;
}

.asset-horizontal-1 .home-card-text ,
.asset-horizontal-2 .home-card-text ,
.asset-horizontal-3 .home-card-text ,
.asset-horizontal-4 .home-card-text {
  grid-row: 1;
}

.asset.home-card {
  display: grid;
  }

/* Vertical Layouts: Cards stack within the 4-column grid */
.home-card-container .asset-vertical-1 {
  grid-column: span 1; /* Takes up 1 column */
}

.home-card-container .asset-vertical-1 .home-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; 
  grid-template-areas:
    "home-card-image"
    "home-card-text";
}

.home-card-container .asset-vertical-2 {
  grid-column: span 2; /* Takes up 2 columns */
}

.home-card-container .asset-vertical-2 .home-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    "home-card-image home-card-image"
    "home-card-text home-card-text";
}

.home-card-container .asset-vertical-3 {
  grid-column: span 3; /* Takes up 3 columns*/
}

.home-card-container .asset-vertical-3 .home-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas:
    "home-card-image home-card-image home-card-image"
    "home-card-text home-card-text home-card-text";
}

.home-card-container .asset-vertical-4 {
  grid-column: span 4; /* Takes up the entire row */
}

.home-card-container .asset-vertical-4 .home-card {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "home-card-image home-card-image home-card-image home-card-image"
    "home-card-text home-card-text home-card-text home-card-text";
}

/* Horizontal Layouts: Cards align within the 4-column container */
.home-card-container .asset-horizontal-2 {
  grid-column: span 2; /* Takes up 3 columns */
}

.home-card-container .asset-horizontal-2 .home-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: 
  "home-card-image home-card-text"
  "home-card-image home-card-text";
}

.home-card-container .asset-horizontal-3 {
  grid-column: span 3; /* Takes up 3 columns */
}

.home-card-container .asset-horizontal-3 .home-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas:
    "home-card-image home-card-image home-card-text"
    "home-card-image home-card-image home-card-text";
}

.home-card-container .asset-horizontal-4 {
  grid-column: span 4; /* Takes up 3 columns */
}

.home-card-container .asset-horizontal-4 .home-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas:
    "home-card-image home-card-image home-card-image home-card-text"
    "home-card-image home-card-image home-card-image home-card-text";
}

.asset-vertical-1 img {
  object-fit: cover;
  height: rem-calc(175);
}

/*Remove padding*/
.card-section {
  padding: 0.5 * $global-padding;
}

.home-card .card-section {
  padding: 0;
}

.home-card-text .h4.link-title {
  margin: rem-calc($global-margin) 0;
}

/*List of sites*/
.site-list {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-auto-rows: 1fr;
  grid-column-gap: rem-calc(12);
  grid-row-gap: rem-calc(12);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    @include breakpoint(medium) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    @include breakpoint(xlarge) {
    grid-column-gap: rem-calc(24);
    grid-row-gap: rem-calc(24);
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
}

.site-list[class*="site-count-"] {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); JMc 21/08*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  @include breakpoint(medium) {
    gap: 0.5rem;
  }
  @include breakpoint(large) {
    gap: 1rem;
  }
}

.list-of-sites .site-list .site-thumbnail-image,
.list-of-sites-dynamic.site-list .card .site-thumbnail-image {
  max-width: 100%;
  float: unset;
  margin-right: 0;
  width: 100%;
  object-fit: cover;
  height: rem-calc(140);
  @include breakpoint(medium) {
    height: rem-calc(175);
  }
  @include breakpoint(large) {
    height: rem-calc(200);
  }
}

.site-list .site {
position: unset;
margin-bottom: 0;
@include breakpoint(medium) {
  margin-bottom: $global-margin;
}
}

.site-list .site a.site-link {
position: unset;
}

.site-list .site a {
position: unset;
  bottom: rem-calc(109);
  text-decoration: none;
  color: #040404;
  background: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  @include breakpoint(medium) {
    font-size: 1.1 * $global-font-size;
  }
  @include breakpoint(large) {
  font-size: 1.15 * $global-font-size;
  }
}

.site-thumbnail img {
transition: transform .4s; /* Animation */
}

.site-thumbnail img:hover {
cursor: pointer;
transform: scale(1.01);
}

/*Home Page Cards*/ 
.site-list .card-divider {
  padding: 0;
}

.site a {
  width: 100%;
}

/*List of sites - Dynamic*/ 
.list-of-sites-dynamic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 10px;
  @include breakpoint(medium) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include breakpoint(large) {
  padding: 20p 0;
  }
}

.list-of-sites-dynamic .site-summary.card-section {
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
}

/* First item */
.list-of-sites-dynamic > *:nth-child(1),
 .list-of-sites-dynamic > *:nth-child(12) {
  grid-column: 1 / -1;

&.card .site-thumbnail-image {
  height: rem-calc(180);
  @include breakpoint(medium) {
    height: rem-calc(220);
  }
  @include breakpoint(large) {
    height: rem-calc(300);
  }
}
}

/* Next two items */
.list-of-sites-dynamic > *:nth-child(2),
.list-of-sites-dynamic > *:nth-child(3),
 .list-of-sites-dynamic > *:nth-child(13),
 .list-of-sites-dynamic > *:nth-child(14) {
  grid-column: span 1;
  @include breakpoint(medium) {
  grid-column: span 2;
  }
  &.card .site-thumbnail-image {
    @include breakpoint(medium) {
      height: rem-calc(180);
    }
    @include breakpoint(large) {
      height: rem-calc(250);
    }
  }
}

/* All other items */
.list-of-sites-dynamic > *:nth-child(n+4):nth-child(-n+11),
 .list-of-sites-dynamic > *:nth-child(n+15):nth-child(-n+22) {
  grid-column: span 1;

  &.card .site-thumbnail-image {
    height: rem-calc(140);
    @include breakpoint(medium) {
      height: rem-calc(150);
    }
    @include breakpoint(large) {
      height: rem-calc(200);
    }
  }
}

.site-list .site.card:hover,
.list-of-sites-dynamic.site-list .site.card:hover {
  opacity: 1;
}

/*List of sites Mosaic Rules*/ 
.list-of-sites-mosaic .site-list {
  grid-auto-rows: auto;
}

.list-of-sites-mosaic .site-list .site {
  margin-bottom: 0;
}

.list-of-sites-mosaic .card-divider {
  flex-direction: column;
  background: unset;
}

/*Grid template areas site page*/
.list-of-sites-mosaic .site.card:nth-child(1) { grid-area: a; }
.list-of-sites-mosaic .site.card:nth-child(2) { grid-area: b; }
.list-of-sites-mosaic .site.card:nth-child(3) { grid-area: c; }
.list-of-sites-mosaic .site.card:nth-child(4) { grid-area: d; }
.list-of-sites-mosaic .site.card:nth-child(5) { grid-area: e; }
.list-of-sites-mosaic .site.card:nth-child(6) { grid-area: f; }

/*One Site*/
.site-list.site-count-1 {
  @include breakpoint(500) {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "a a"
  "a a";
  }
}

/*Two Sites*/
.site-list.site-count-2 {
  @include breakpoint(500) {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "a b"
  "a b";
  }
}


/*Three sites*/
.site-list.site-count-3 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "a a"
  "b c";

  @include breakpoint(medium) {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "a a b b"
  "a a c c";
  }
}

[class*="site-count-"] .site.card:nth-child(1) .site-thumbnail {
  flex-grow: 1;
}

.site-count-3 .site.card:nth-child(1) .site-thumbnail-image,
.site-count-5 .site.card:nth-child(1) .site-thumbnail-image,
.site-count-5 .site.card:nth-child(2) .site-thumbnail-image,
.site-count-6 .site.card:nth-child(1) .site-thumbnail-image,
.site-count-6 .site.card:nth-child(2) .site-thumbnail-image {
  object-fit: cover;
  height: 12.5rem;
  @include breakpoint(500) {
  height: 15rem;
  }
  @include breakpoint(medium) {
    height: 30rem;
    }
  @include breakpoint(large) {
  height: 20rem;
  }
}

.site-count-4 .site.card:nth-child(1) .site-thumbnail-image {
  @include breakpoint(500) {
    height: 25rem;
    object-fit: cover;
    }
    @include breakpoint(medium) {
      height: 28.5rem;
      }
    @include breakpoint(large) {
    height: 31rem;
    }
}

.site-count-3 .site.card:nth-child(1) .card-divider,
.site-count-4 .site.card:nth-child(1) .card-divider,
.site-count-5 .site.card:nth-child(1) .card-divider,
.site-count-5 .site.card:nth-child(2) .card-divider,
.site-count-6 .site.card:nth-child(1) .card-divider,
.site-count-6 .site.card:nth-child(2) .card-divider {
  @include breakpoint(500) {
    flex: 1 1 100%;
  }
}

/*List of sites Featured*/ 
.list-of-sites.list-of-sites-featured .site-list.site-count-2 .site-thumbnail-image {
  height: rem-calc(150);
  @include breakpoint(medium) {
    height: rem-calc(200);
  }
  @include breakpoint(large) {
    height: rem-calc(275);
  }
}

/*Adding text alongside images for selected blocks*/ 
.site-count-3 .site.card:nth-child(2),
.site-count-3 .site.card:nth-child(3) {
  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 200px 1fr;
    overflow: hidden;
    align-items: stretch;
    /* height: 15rem; Removed fixed card height*/ 
  }
}

/*Ensure flex children use equal width*/ 
.site-count-3 .site.card:nth-child(2) .site-thumbnail,
.site-count-3 .site.card:nth-child(3) .site-thumbnail {
  @include breakpoint(large) {
    overflow: hidden;
  }
}

/*Increase size of selected thumbnails*/
.site-count-3 .site.card:nth-child(2) .site-thumbnail-image,
.site-count-3 .site.card:nth-child(3) .site-thumbnail-image {
  @include breakpoint(large) {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    display: block;
    max-height: 12rem;
  }
}

/*Remove site summaries*/
/*
.site-count-3 .site.card:nth-child(3) .site-summary,
.site-count-4 .site.card:nth-child(3) .site-summary {
  @include breakpoint(400) {
    display: none;
  }
}
*/

/*Four sites*/ 
.site-list.site-count-4 {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "a a"
  "b b"
  "c d";
    @include breakpoint(500) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "a a b b"
    "a a c d";
  }
}

/*Five sites*/ 
.site-list.site-count-5 {
  @include breakpoint(500) {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "a a b b"
  "a a b b"
  "c c d e";
  }
}

.site-count-5 .site.card:nth-child(1) .site-thumbnail-image,
.site-count-5 .site.card:nth-child(2) .site-thumbnail-image {
  @include breakpoint(500) {
  height: 25rem;
  }
}

/*Six sites*/ 
.site-list.site-count-6 {
    grid-template-areas:
    "a a "
    "b b"
    "c d"
    "e f";
  @include breakpoint(500) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "a a b b"
    "a a b b"
    "c c d d"
    "e e f f";
  }
  @include breakpoint(850) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "a a b b"
    "a a b b"
    "c d e f";
  }
}

.site-count-6 .site.card:nth-child(1) .site-thumbnail-image,
.site-count-6 .site.card:nth-child(2) .site-thumbnail-image {
  @include breakpoint(500) {
  height: 15rem;
  }
  @include breakpoint(large) {
  height: 20rem;
  }
}

.site-count-6 .site.card:nth-child(n+3) .site-thumbnail-image {
  @include breakpoint(500) {
  height: rem-calc(150);
  }
  @include breakpoint(large) {
  height: rem-calc(175);
  }
}

.site-count-6 .site.card:nth-child(n+3) .site-summary {
  display: none;
  @include breakpoint(large) {
  display: -webkit-box;
  }
}
