/* ==========================================================================
   Universal Viewer
   ========================================================================== */

.universal-viewer {
  #content {
    margin: 0 !important;
    padding: 0 !important;
  }

  .openseadragon-container {
    background-color: initial !important;
  }
}

body:not(.browse) {
  .universal-viewer {
    #content {
      max-width: 100% !important;
    }
  }
}