/*Responsive Embed*/ 
.responsive-embed.aspect16_9, 
.flex-video.aspect16_9 {
padding-bottom: 56.25%;
}

.responsive-embed.aspect4_3, 
.flex-video.aspect4_3 {
padding-bottom: 75%;
}

/*Video*/ 
/*Centre videos*/
video {
  width: 100%;
  }