/* ==========================================================================
   Body
   ========================================================================== */

/* Mobile content spacing */

@media print, screen and (max-width: 37.4988em) {
  body:not(.browse) {
    #content {
      margin: 0.5rem;
      padding: 0;
    }
  }
}