/*Body*/ 
/*Remove Horizontal Scroll Bar*/
html, body {
  overflow-x: clip;
}

@media print, screen and (max-width: 37.4988em) {
  body:not(.browse) #content {
      padding: 0;
      margin: 0.5rem;
  }
}
