/*Home Icon*/ 
.fa-home:before {
  font-size: rem-calc(22);
}

/*Site Title*/
.site-title {
  max-width: calc(100vw - rem-calc(120));
  @include breakpoint(medium) {
    max-width: 70%;
  }
  @include breakpoint(large) {
    max-width: unset;
  }
}

.site-title img {
  margin: $global-margin 0;
}

/*Exhibition Title*/ 
.h4.site-title-label {
  margin-bottom: 0;
  font-size: $global-font-size;
  font-weight: 400;
  color: $white;
  @include breakpoint(xlarge) {
    font-size: 1.1 * $global-font-size;
  }
}

/*Set size of University logo*/
.university-logo {
  margin: rem-calc(12);
  display: flex;
  flex-grow: 1;
  @include breakpoint(355) {
      margin: rem-calc(12) rem-calc(24);
  }
  @include breakpoint(400) {
    flex-grow: 1;
  }
  @include breakpoint(medium) {
    flex-grow: 0;
    flex-shrink: 1;
  }
}

.university-logo img {
      width: rem-calc(169);
      height: rem-calc(70);
}

/*Set 'Manchester Digital Exhibitions text*/
.site-heading {
  color: $primary-color;
  text-decoration: none;
  display: flex;
  flex-grow: 3;
  width: rem-calc(250);
  margin: 0 rem-calc(12) 0 rem-calc(12);
  order: 2;
  @include breakpoint(355) {
      margin: 0 rem-calc(12) rem-calc(12) rem-calc(24); /*with language selector*/
      /*without additional languages, bottom margin must be removed*/ 
  }
  @include breakpoint(medium) {
      order: 0;
      margin: 0;
  }
  @include breakpoint(599 down) {
    margin-right: 5rem;
}
  @include breakpoint(400 down) {
    margin-right: 0;
  }
}

.site-heading p {
  color: $primary-color;
  margin-bottom: 0;
  @include breakpoint(700) {
      font-size: rem-calc(22);
      margin: 0 $global-margin;
      font-weight: 400;
  }
}

/*Language Selector*/
#lang {
  display: flex;
  order: 0;
  margin: 0;
}

ul.language-switcher.locale-code {
  padding-inline-start: 0;
}

ul.language-switcher.locale-code li span.active {
  color: #343536;
  text-decoration: underline;
  font-weight: 600;
}

ul.language-switcher.locale-code li a {
  color: #343536;
  text-decoration: none;
  font-weight: 400;
}

a.language-show:hover {
  color: $warning-color;
}

a.language-show:not(:last-of-type)::after {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  content: "|";
}

/*End Language Selector*/
.title {
  font-weight: 400 !important;
}

.title-bar {
  @include breakpoint(large) {
    display: none;
  }
}
/*Remove margin for menu button on smaller screens*/ 
.title-bar button {
  margin: rem-calc(0 0 0 5);
}
