/* ==========================================================================
   Item Show
   ========================================================================== */

.resource.show {
  .grid-x {
    padding: 0;
  }

  .media-render.youtube > * {
    max-width: unset;
  }
}

/* Metadata */

dl {
  dt {
    margin-bottom: 0.5 * $global-margin;
    font-weight: 600;

    @include breakpoint(medium) {
      font-size: 1.1 * $global-font-size;
    }

    @include breakpoint(xlarge) {
      font-size: 1.2 * $global-font-size;
    }

    &::after {
      display: block;
      width: 50%;
      max-width: rem-calc(125);
      content: "";
      border-bottom: rem-calc(1) solid $warning-color;
    }
  }
}

.property {
  margin-bottom: $global-margin;
}

.value:first-child {
  margin-top: 2 * $global-margin;
}

.resource-title {
  flex-wrap: wrap-reverse;
  width: 100%;
  margin-bottom: $global-margin;
  margin-left: $global-margin;

  @include breakpoint(large) {
    flex-wrap: nowrap;
    margin-left: 2 * $global-margin;
  }
}

/* Links */

.stack {
  .main-with-sidebar {
    .property a {
      text-decoration: underline;
    }
  }
}

a.uri-value-link {
  color: $primary-color;
  text-decoration: underline;
}

dd.value {
  a {
    color: $secondary-color;
    text-decoration: underline;

    &:hover {
      color: darken($secondary-color, 50%);
      cursor: pointer;
    }
  }
}

/* Sidebar */

.right-sidebar.dark-background {
  @include breakpoint(medium down) {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

/* OpenSeadragon */

.main-with-sidebar .openseadragon,
.stack .full-width-main .openseadragon,
.stack .full-width-main .seadragonbox {
  height: 40vh !important;

  @include breakpoint(medium) {
    height: 60vh !important;
  }

  @include breakpoint(large) {
    height: 80vh !important;
  }
}

/* IIIF Presentation */

.full-width-main .iiif_presentation iframe,
.main-with-sidebar .iiif_presentation iframe {
  height: 60vh !important;

  @include breakpoint(medium) {
    height: 75vh !important;
  }

  @include breakpoint(large) {
    height: 85vh !important;
  }

  @include breakpoint(xlarge) {
    height: 90vh !important;
  }
}

/* Media */

.main-with-sidebar {
  .media-render {
    text-align: center;
  }
}