/*Item Show updates*/
.resource.show .grid-x {
  padding: 0;
}

dl dt {
  font-weight: 600;
  margin-bottom: 0.5 * $global-margin;
  @include breakpoint (medium){
  font-size: 1.1 * $global-font-size;
  }
  @include breakpoint (xlarge){
    font-size: 1.2 * $global-font-size;
    }
}

dl dt:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  width: 50%; /* Change this to whatever width you want. */
  max-width: rem-calc(125);
  border-bottom: 1px solid $warning-color /* This creates the border. Replace black with whatever color you want. */
}

.property {
  margin-bottom: 1 * $global-margin;
}

.value:first-child {
margin-top: 2 * $global-margin;
}

.resource-title {
  flex-wrap: wrap-reverse;
  margin-left: 1 * $global-margin;
  width: 100%;
  @include breakpoint(medium) {
    margin-left: 2 * $global-margin;
  }
  @include breakpoint(large) {
    flex-wrap: nowrap;
  }
}

/*Underline links on Item Show page*/
.stack .main-with-sidebar .property a {
  text-decoration: underline;
  }

  a.uri-value-link {
    text-decoration: underline;
    color: $primary-color;
  }

/*.right-sidebar .property dd.value a:hover {
  text-decoration: underline;
}*/

  .right-sidebar.dark-background {
    @include breakpoint (medium down) {
  margin-left: 0!important;
  margin-right: 0!important;
  width: 100%;
  } 
  }

/*Feature for links*/
dd.value a {
  /*padding: .5 * $global-padding;*/
  /*background: $secondary-color;*/
  color: $secondary-color;
  /*line-height: 2;*/
  text-decoration: underline;
  &:hover {
    color: darken($secondary-color, 50%);
    cursor: pointer;
  }
}

/*Remove download option from LightGallery*/
.lg-outer[data-lg-slide-type=iframe] .lg-download, 
.lg-outer[data-lg-slide-type=video] .lg-download,
#lg-download-1 {
  display: none;
}

/*Light Gallery*/ 
/*Minimum height*/ 
#itemfiles {
  min-height: 40vh !important;
  @include breakpoint(medium) {
  min-height: 60vh !important;
  }
  @include breakpoint(large) {
    min-height: 80vh !important;
  }
  @include breakpoint(xlarge) {
    min-height: 90vh !important;
  }
}

/*Increase YouTube embed size for Item Show*/ 
.resource.show .media-render.youtube>* {
  max-width: unset;
}
.main-with-sidebar .youtube iframe {
  width: 100%;
  height: 300px;
  border-radius: rem-calc(6);
  @include breakpoint(medium) {
    height: 350px;
    max-width: 467px !important;
  }
  @include breakpoint(large) {
    max-width: 622px !important;
  }
  @include breakpoint(xlarge) {
    height: 400px;
    max-width: 711px !important;
  }
}

/*Openseadragon for Item Show*/ 
.main-with-sidebar .openseadragon,
.stack .full-width-main .openseadragon,
.stack .full-width-main .seadragonbox {
  height: 40vh !important;
  @include breakpoint(medium) {
    height: 60vh !important;
  }
  @include breakpoint(large) {
    height: 80vh !important;
  }
} 

/*IIIF Presentation for Item Show*/ 
.full-width-main .iiif_presentation iframe,
.main-with-sidebar .iiif_presentation iframe {
    height: 60vh !important;
  @include breakpoint(medium) {
    height: 75vh !important;
  }
  @include breakpoint(large) {
    height: 85vh !important;
  }
  @include breakpoint(xlarge) {
    height: 90vh !important;
  }
} 

/*Centre Items*/ 
.main-with-sidebar .media-render {
  text-align: center;
}