/* ==========================================================================
   Search Bar
   ========================================================================== */

/* Shared search bar styles */

.search-bar,
.search-bar-mobile {
  svg {
    width: rem-calc(20);
    height: rem-calc(20);

    &.active {
      display: none;
    }
  }
}

/* Desktop */

.search-bar {
  display: none;

  @include breakpoint(large) {
    display: flex;
  }

  button.search-icon {
    margin: 0;
    background: $white;
    border-radius: rem-calc(50);

    @include breakpoint(large) {
      margin: 0 0.5rem;
    }

    @include breakpoint(1000px) {
      margin: 0 1rem;
    }

    svg path {
      fill: $dark-gray;
    }
  }
}

/* Mobile */

.search-bar-mobile {
  display: flex;

  @include breakpoint(large) {
    display: none;
  }

  svg path {
    fill: $white;
  }

  button.search-icon {
    margin: 0 rem-calc(10) 0 0;
    border-radius: rem-calc(50);

    &[aria-expanded="true"] {
      margin: 0;
      background: $primary-color;

      @include breakpoint(medium) {
        margin: 0 $global-margin;
      }
    }
  }
}

/* Search toggle button */

button.search-icon[aria-expanded="true"] {
  margin: 0 (0.5 * $global-margin) 0 $global-margin;
  background: $medium-gray;
  opacity: 0.35;

  svg {
    &.inactive {
      display: none;
    }

    &.active {
      display: flex;
    }

    path {
      fill: $white;
    }
  }
}

/* Search form */

.search-button {
  display: none;

  &.is-shown {
    display: flex;
  }
}

.input-group-field {
  height: 100%;
}

/* Mobile search form */

#show-search-menu-mobile {
  .input-group-button button {
    background: $secondary-color;
  }

  input[type="text"]:not(:only-child) {
    width: 100%;
    border-radius: rem-calc(24) 0 0 rem-calc(24);
  }
}

/* Desktop search form */

#show-search-menu {
  input[type="text"]:not(:only-child) {
    border-radius: rem-calc(20) 0 0 rem-calc(20);

    @include breakpoint(large) {
      width: rem-calc(124);
    }

    @include breakpoint(1050px) {
      width: auto;
    }
  }
}