/*Asset Hero img*/ 
  .asset-hero,
  .asset-hero-horizontal-img {
    background-position: center;  /* Centers image horizontally and vertically */
    background-size: cover;      /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: rem-calc(350px);
  } 

  .asset-hero {
    margin-top: -0.5rem;
    @include breakpoint(medium) {
      margin-top: -2rem;
    }
    @include breakpoint(large) {
    height: rem-calc(450px);
    }
    }

  .asset-hero-horizontal h1 {
    @include breakpoint(medium) {
      font-size: 2rem;
  }
    @include breakpoint(large) {
    font-size: rem-calc(42);
  }
}
  
  .asset-hero-horizontal-img {
    @include breakpoint(medium) {
      margin-top: -1rem;
    }
    @include breakpoint(large) {
      margin-top: 0;
      height: rem-calc(600);
    }
    @include breakpoint(xlarge) {
      height: rem-calc(700);
    }
  }
    
  .asset-hero h1 {
  padding: 0.5rem;
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur(0.1875rem);
  -webkit-backdrop-filter: blur(0.1875rem);
  color: $black;
  }

  .asset-hero-title {
    height: 100%;
    }
    
  .asset-hero-caption {
  height: 100%;
  & p {
    margin-bottom: 0;
  }
  }

  .asset-hero-caption-bottom {
    background: #ededed;
    padding: 0.5 * $global-padding;
    @include breakpoint(large) {
      padding: 0.5 * $global-padding 0 0.5 * $global-padding 0;
    }
    & p {
      margin-bottom: 0;
      font-size: 0.9 * $global-font-size;
    }
  }