/* ==========================================================================
   Browse preview
   ========================================================================== */

/* Browse preview: CSS grid */

.og-grid-cover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem-calc(270), 1fr));
  gap: rem-calc(12);
  line-height: 1.5;
}

/* Browse preview: gallery */

.og-grid > li {
  @include breakpoint(xlarge) {
    height: rem-calc(600) !important;
  }

  @include breakpoint(large down) {
    height: rem-calc(450) !important;
  }

  @include breakpoint(medium down) {
    height: rem-calc(350) !important;
  }

  @include breakpoint(400 down) {
    height: rem-calc(300) !important;
  }

  @include breakpoint(390 down) {
    height: rem-calc(200) !important;
  }
}

#og-grid img.large-img {
  height: rem-calc(200);

  @include breakpoint(400) {
    height: rem-calc(300);
  }

  @include breakpoint(medium) {
    height: rem-calc(350);
  }

  @include breakpoint(large) {
    height: rem-calc(450);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(600);
  }
}

.og-expander {
  z-index: 10000;
}

.preview-grid {
  .og-grid > li {
    height: unset !important;
  }
}

/* Browse preview: masonry */

.resource-grid-mosaic {
  .resource__thumbnail {
    width: 100%;
    line-height: 1;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .grid-sizer,
  .resource-masonry {
    width: 48%;

    @include breakpoint(776) {
      width: 32%;
    }
  }

  .gutter-sizer {
    width: rem-calc(8);

    @include breakpoint(medium) {
      width: rem-calc(15);
    }
  }

  .resource__content {
    padding: rem-calc(5);

    @include breakpoint(medium) {
      padding: rem-calc(8);
    }
  }
}

.resource__content a {
  overflow-wrap: break-word;
}

/* Resource grid */

.resource-grid {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(401) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(650) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(xlarge) {
    grid-template-columns: repeat(4, 1fr);
  }

  .resource {
    width: 100% !important;
  }
}

.thumbnail,
.resource.show .resource-link img,
.media-list img,
.resource .resource-link img {
  width: 100%;
  height: rem-calc(200);
  object-fit: cover;

  @include breakpoint(medium) {
    height: rem-calc(250);
  }
}

.resource-meta {
  .description.full {
    display: none;
  }
}