/* ==========================================================================
   Faceted Browse
   ========================================================================== */

#facets {
  label {
    align-items: baseline;
    color: #000;
  }
}

#section-content {
  span.resource-name {
    padding: unset;
  }
}

.select-list-item {
  .value:first-child {
    margin-top: 0;
  }
}

.subsection-text {
  .h3 {
    @include breakpoint(600) {
      font-size: 1.625rem;
    }
  }
}

.faceted-browse-page {
  .resource-list {
    display: flex;
    flex-direction: column;

    .resource-link img {
      display: block;
      float: unset;
      margin-left: 0;

      @include breakpoint(450) {
        display: inline-block;
        float: right;
        max-width: rem-calc(250);
        margin-left: 1rem;
      }
    }
  }
}