/* ==========================================================================
   Mapping block
   ========================================================================== */

.mapping-block {
  padding: 0 1rem;

  .mapping-map {
    position: relative;
    width: 100%;
    max-width: rem-calc(1600);
    height: rem-calc(400) !important;
    margin: 0 auto;
    outline: none;

    @include breakpoint(medium) {
      height: 90vh !important;
    }
  }
}