/*Caption Toggle Block*/ 
.toggle-caption-block {
  max-width: rem-calc(800);
  margin: 0 auto;
}
/*Styling for caption-toggle button*/

/*Ensure caption does not overflow button*/
.orbit-caption {
  background-color: rgba(10,10,10, .9); 
}

.toggle-caption-block .media-render.file {
  background: $uom-footer;
}

.toggle-caption {
  position: relative;
}

/*Add overflow-y for larger captions*/
.toggle-caption .orbit-caption {
  bottom: rem-calc(56);
  background-color: rgba(10, 10, 10, .9);
  overflow-y: auto;
  max-height: 60vh;
  @include breakpoint(322) {
    bottom: rem-calc(56);
  }
  @include breakpoint(xlarge) {
    max-height: 90vh;
  }
}

.caption-toggle .toggle-caption .button {
  background-color: $dark-gray; 
  h2 {
    color:$white;
  }
}

.toggle-caption figcaption {
  font-size: 0.9rem;
  font-style: initial;
  font-weight: 400;
}

.left.media.toggle-caption-img {
max-width: rem-calc(600);
margin: 0 auto;
}

.toggle-caption-img {
  width: 100%;
  position: relative;
  height: calc(42vh + 59.19px);
  overflow-y: auto;
  //@include breakpoint(large) {
    //height: calc(70vh + 59.19px);
  //}
  @include breakpoint(medium) {
    height: calc(52vh + 59.19px);
  }
  @include breakpoint(large) {
    height: calc(62vh + 59.19px);
  }
}

.toggle-caption-img img {
  height: 40vh;
  object-fit: cover;
  object-position: center;
  width: 100vw;
  //@include breakpoint(large) {
    //height: 70vh;
  //}
  @include breakpoint(medium) {
    height: 50vh;
  }
  @include breakpoint(large) {
    height: 60vh;
  }
}

.toggle-caption-img .toggle-caption .orbit-caption {
  max-height: 42vh;
  @include breakpoint(medium) {
  max-height: 52vh;
  }
  @include breakpoint(large) {
    max-height: 62vh;
  }
}

.toggle-caption-img .media-render {
  padding: 0;
}

/*Styling for caption-toggle button*/
.caption-toggle .toggle-caption .button {
  background-color: $dark-gray; 
  h2 {
    color:$white;
  }
}

/*Toggle Reveal*/
.clickToReveal {
  cursor: pointer;
  padding: 0.5rem;
  & li {
      list-style: none;
  }
  & summary {
      padding-bottom: 0.5 * $global-padding;
  }
}

/*Click to reveal styling*/ 
.dropdown-pane.is-open {
  display: contents;
  & img {
    max-height: 90vh;
  }
}

/*Reveal caption*/
button#reveal-caption {
  margin: 0;
  padding: 0.75 * $global-padding 0.5 * $global-padding;
  width: 100%;
  font-size: 1rem;
  background: $dark-gray;
  color: $white;
  &:hover {
    background: darken($dark-gray, 5%);
  }
  @include breakpoint(large) {
    padding: 0.75 * $global-padding;
  }
}

.reveal-caption {
display: none;
}