/* ==========================================================================
   Media Embed
   ========================================================================== */

/*Increase size of thumbnails for Media Embed blocks*/ 
.media-embed-block.left {
  float: left;
  margin: 0 1.5 * $global-margin $global-margin 0 !important;
  max-width: 50% !important;
  @include breakpoint(medium) {
    margin: 0 2 * $global-margin $global-margin 0 !important;
}
  @include breakpoint(large) {
      max-width: 40% !important;
      margin: 0 3 * $global-margin $global-margin 0 !important;
  }
}

.media-embed-block.right {
  float: right;
  margin: 0 0 $global-margin 1.5 * $global-margin !important;
  max-width: 50%;
  @include breakpoint(medium) {
    margin: 0 0 $global-margin 2 * $global-margin !important;
}
  @include breakpoint(large) {
      max-width: 40%;
      margin: 0 3 * $global-margin $global-margin;
  }
}

/*Centre media embed items when option chosen*/
.center.file, .center.assets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

 /*CSS Grid horizontal and vertical blocks*/
/*Grid Option*/
.resourceTextGrid .block-heading {
grid-area: header;
}

.resourceTextGrid .block-media {
grid-area: media-block;
width: 100%;
}

.resourceTextGrid .block-html {
grid-area: text;
align-self: center;
max-width: rem-calc(850);
}

.resourceTextGrid .block-html h2 {
  text-align: center;
}

.resourceTextGrid .block-html h2.identifier {
  text-align: left;
}

.resourceTextGrid .file-caption-text.media-embed {
  grid-area: media-embed-media;
}

.resourceTextGrid {
display: grid;
gap: 1rem;
grid-template-columns: 1fr;
justify-items: center;
grid-template-areas: 
"header" 
"media-block"
"text";
}

.resourceTextGrid:has(.layout-vertical) {
  @include breakpoint(large) {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
  ". header ."
  ". media-block ."
  ". text .";
  }
  @include breakpoint(xlarge) {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

/*Customise metadata options*/ 
.no-alternative .alternative,
.no-location .location,
.no-date .date,
.no-identifier .identifier,
.no-separator .separator-center,
.no-button .learn-more {
  display: none;
}

/*Remove max height for large img (multiples) */ 
.no-max-height .media-embed-block .large:not(:only-child) img {
    max-height: unset !important;
}

/*Add wide option*/ 

.wide .resourceTextGrid:has(.layout-vertical),
.wide.resourceTextGrid:has(.layout-vertical) {
  @include breakpoint(large) {
    grid-template-columns: 1fr 10fr 1fr;
  }
  @include breakpoint(xlarge) {
    grid-template-columns: 1fr 12fr 1fr;
  }
}

.resourceTextGrid:has(.layout-vertical.file-caption-text) {
  grid-template-areas: 
  "media-embed-media"
  "text";
  @include breakpoint(large) {
    grid-template-areas: 
    ". media-embed-media ."
    ". text .";
    }
  }

  .layout-vertical.file.media-embed {
    @include breakpoint(large) {
    padding: 0;
  }
}

  .resourceTextGrid:has(.layout-horizontal) {
    @include breakpoint(large) {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
    "header ." 
    "media-block text" ;
    }
  }

  /*Align media right for caption-text template*/ 
  .media-right .resourceTextGrid:has(.layout-horizontal.file-caption-text) {
    @include breakpoint(large) {
    grid-template-areas: "text media-embed-media";
    grid-template-columns: 2fr 3fr;
  }
}

.resourceTextGrid .block-html p:only-child {
  margin-bottom: rem-calc(85);
  margin-block-start: 0;
  max-width: rem-calc(700);
  @include breakpoint(large) {
    margin-bottom: rem-calc(70);
  }
}

  .resourceTextGrid .learn-more:only-child {
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Add class where Media caption is Text*/
.resourceTextGrid:has(.layout-horizontal.file-caption-text) {
  grid-template-areas: 
  "media-embed-media"
  "text";
  @include breakpoint(large) {
    grid-template-areas: 
    "media-embed-media text" ;
    }
  }

/*Add a portrait class*/ 
.portrait .media-embed-block {
  @include breakpoint(medium) {
  max-width: rem-calc(800);
  margin: 0 auto; 
}
}

.portrait.resourceTextGrid:has(.layout-horizontal) {
  @include breakpoint(large) {
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "header ."
    "media-block text";
  }
  @include breakpoint(xlarge) {
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-areas:
  ". header . ."
  ". media-block text .";
}
}

.portrait.resourceTextGrid.media-right:has(.layout-horizontal) {
  @include breakpoint(large) {
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
  "header ."
  "media-block text";
}
@include breakpoint(xlarge) {
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-areas:
  ". header . ."
  ". media-block text .";
}
}

/*Add option to place media to the right*/ 
.resourceTextGrid.media-right:has(.layout-horizontal) {
  @include breakpoint(large) {
  grid-template-columns: 2fr 3fr;
  grid-template-areas: 
  "header ." 
  "text media-block" ;
  }
}

/*Add class for Media caption as text*/ 
.resourceTextGrid.media-right:has(.layout-horizontal.file-caption-text) {
  @include breakpoint(large) {
  grid-template-areas: 
  "text media-embed-media" ;
  }
}

.portrait .media-caption-text.resourceTextGrid:has(.layout-horizontal) {
  @include breakpoint(large) {
    grid-template-areas: "media-embed-media text" ;
    grid-template-columns: 2fr 2fr;
  }
  @include breakpoint(1500) {
    grid-template-areas: ". media-embed-media text ." ;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  }
}

/*Add a portrait narrow class*/
.portrait-narrow .media-caption-text.resourceTextGrid:has(.layout-horizontal) {
  @include breakpoint(large) {
    grid-template-areas: ". media-embed-media text ." ;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
  @include breakpoint(1500) {
    grid-template-areas: ". media-embed-media text ." ;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
  }
}

.portrait.media-right .media-caption-text.resourceTextGrid:has(.layout-horizontal) {
  @include breakpoint(large) {
    grid-template-areas: "text media-embed-media" ;
  }
  @include breakpoint(1500) {
    grid-template-areas: ". text media-embed-media ." ;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  }
}

/*Add margin for title for Media Embed block*/
.separator-center.metadata h2 {
  margin-top: 1rem;
  @include breakpoint(medium) {
    margin-top: 0;
  }
}

/*Move location of Learn More button*/ 
.resourceTextGrid.file-caption-block .block-html p {
  margin-block-end: 7rem;
  }

  /*Added further rule for Media Embed 'Caption as Text' template*/ 
  .resourceTextGrid.file-caption-block.media-caption-text .block-html p {
  margin-block-end: 1rem;
  @include breakpoint(large) {
  margin-block-end: 2rem;
  }
}
  
.resourceTextGrid:has(.layout-horizontal) .learn-more {
  @include breakpoint(large) {
  justify-content: center;
  position: initial;
  bottom: unset;
  left: unset;
  transform: initial;
    }
}


/* Title under media */

.title-under-media .caption {
  order: 2;
  padding-bottom: 1rem;
}

/* Fill button */

.fill-button .learn-more .hollow {
  background: $warning-color;
}

/* Learn More button */

.learn-more h2.button {
  margin: 0 !important;
}

.learn-more .button.hollow.warning:hover {
  color: #1f2a35;
  background: $warning-color;
}

.learn-more a,
button a,
.button a {
  text-decoration: none;
}

/* Ensure Learn More button is below text for vertical Media blocks */

.resourceTextGrid {
  row-gap: 0;
}

/* Generic Media Embed fixes */

.item.resource {
  width: 100%;
}

.media-embed {
  width: 100%;
}

.media-render {
  width: 100%;
  padding: 0;

  @include breakpoint(medium) {
    padding: 1rem 1rem 0;
  }
}

/* Legacy Resource with Text / retained Media Embed selectors */

.media-text {
  width: 100%;
  padding: 0;

  .right {
    order: 1;
  }

  @media screen and (max-width: 899px) {
    .left,
    .right {
      width: 100%;
      margin: 0;
      float: unset;
    }

    .right {
      order: 0;
    }
  }
}

.attachments {
  flex-grow: 1;
}

.text {
  padding: $global-padding 0;

  @include breakpoint(large) {
    padding: 0.5 * $global-padding 0;
  }

  @include breakpoint(xlarge) {
    padding: 0.5 * $global-padding $global-padding;
  }
}

.resource-text {
  max-width: rem-calc(850);
  margin: 0 auto;
}

.metadata {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 0;
  margin: 0 0 0.5rem;
}

.metadata h1 a,
.metadata h2 a,
.metadata h2.h1 a,
.metadata h2.h2 a {
  font-weight: 400;
}

.metadata-value {
  display: block;
}

.link-text-white a {
  color: $white;
}

.media-render.iiif {
  width: 100%;
}

/* No right click */

.no-right-click .media-embed {
  pointer-events: none;
}
