/* ==========================================================================
   Page Blocks: Jumbotron
   ========================================================================== */

.jumbotron-search {
  form {
    max-width: rem-calc(850);
    padding: 0 !important;
  }

  input[type="text"] {
    width: 100%;
    height: rem-calc(50) !important;
    margin: 0;
    padding: 0 rem-calc(16);
    font-size: rem-calc(16) !important;
  }

  button[type="submit"] {
    padding: 0 rem-calc(16) !important;

    &:hover {
      color: #fff;
      line-height: 2em;
      border-radius: 0 rem-calc(8) rem-calc(8) 0;
    }
  }
}