/*Jumbotron Search*/ 
.jumbotron-search form {
  padding: 0!important;
  max-width: rem-calc(850);
}

.jumbotron-search input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 0 rem-calc(16);
  font-size: rem-calc(16)!important;
  height: rem-calc(50)!important;
}

.jumbotron-search button[type="submit"] {
  padding: 0 rem-calc(16)!important;
}

.jumbotron-search button[type="submit"]:hover {
  line-height: 2em;
  color: #fff;
  border-radius: 0 rem-calc(8) rem-calc(8) 0;
}