/* ==========================================================================
   Page Blocks: Accordion
   ========================================================================== */

.accordion-trigger {
  cursor: pointer;
  padding-block: rem-calc(20) !important;
}

.accordion-content.collapsed {
  padding: 0;
}