/* ==========================================================================
   Timeline
   ========================================================================== */

.tl-timeline {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $body-font-family !important;
  }

  p {
    font-family: 'Open Sans' !important;
    font-size: rem-calc(16);
    line-height: 1.3;
  }

  a {
      color: $secondary-color;
  }

  .tl-headline-date,
  h3.tl-headline-date {
    font-family: 'Open Sans' !important;
  }
}

.timeline {
  small {
    color: $white;
  }

  &::after {
    display: none;
  }
}

/*Ensure timeline is responsive for smaller screens*/
.tl-skinny .tl-text h2.tl-headline-title, 
.tl-skinny .tl-text h2.tl-headline {
  @include breakpoint(small only) {
    font-size: $global-font-size;
    line-height: rem-calc(20);
  }
}